<div class="content animated fadeIn">
  <app-post-search [type]="searchType.DRAFT"/>
  @if({
    drafts: drafts$ | async,
     favorites: favoritesID$ | async
  }; as obs) {
    @for(draft of obs.drafts; track draft._id; let last = $last) {
      <app-post-card [small]="true"
                    [border]="false"
                    [last]="last"
                    [post]="draft"
                    [isDraft]="true"
                    [favoritesID]="obs.favorites">
      </app-post-card>
    } @empty {
      <p>
        No se han encontrado bocetos.
      </p>
    }
  }
</div>
