<div class="content animated fadeIn">
  <app-post-search [type]="'draft'"></app-post-search>
  <ng-container *ngIf="(drafts$ | async) as items">
    <app-post-card *ngFor="let item of items; 
                           let i = index; 
                           let last = last"
                    [small]="true"
                    [border]="false"
                    [last]="last"
                    [post]="item"
                    [draft]="true"
                    [favoritesID]="favoritesID$ | async">
    </app-post-card>
    <ng-container *ngIf="items && items.length === 0">
      <p>
        No se han encontrado bocetos.
      </p>
    </ng-container>
  </ng-container>
</div>
