.top { opacity: .6 }

button {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 14px;
  z-index: 99;
  height: 25px;
  border: none;
  outline: none;
  font-weight: bold;
  float: right;
  cursor: pointer;
  color: var(--light-color) !important;
  background: var(--dark-color);
  padding: 2px 8px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
              0 10px 10px rgba(0,0,0,0.22);
  transition: all 1s;
  opacity: .6;

  &::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 2px solid var(--dark-color);
  }

  &:hover {
    filter: contrast(1.2);
    & i { transform: translateY(-2px) }
  }

  & i {
    font-size: 16px;
    transition: 200ms ease-in-out;
  }
}