<div class="main-post">
  <figure> <!-- IMAGE -->
    <img src="assets/images/0111-img.jpg" alt="Post Image"/>
  </figure>
  <div class="content animated fadeIn">
    <!-- HOVER -->
    <div class="inner">
      <p>
        <span>LifeStyle</span>
        <span class="slash">Sep, 17 2019</span>
      </p>
      <h2>What do you think of Lifestyle</h2>
      <p>
        <span>
          <i class="fas fa-user"></i>
          Jhone Smithon
        </span>
        <span class="hyphen">
          <i class="fas fa-comment"></i>
          No Comments Yet
        </span>
      </p>
    </div>
  </div>
</div>

