@import 'mixins/mixins.scss';

.popular {
  text-align: center;
  margin-bottom: 1rem;

  & h4 {
    position: relative;
    overflow: hidden;
    font-size: 18px;
    margin: 0 0 4px;
    line-height: normal;
    @include span-hr-title();
  }

  & .image {
    width: 190px;
    height: 190px;
    border: 1px solid #e0e0e0;
    margin: 24px auto 20px;
    overflow: hidden;

    @media(max-width: 475px) {
      width: 120px;
      height: 120px;
    }

    & img {
      display: block;
      width: 100%;
      height: auto;
      border: 3px solid var(--light-color);
      transition: border 666ms ease-in-out;
    }
  }

  & p {
    letter-spacing: normal;
    line-height: 22px;
    margin-bottom: 10px;
    font-size: .9rem;
    padding: 0 25px;

    @media(max-width: 650px) {
      padding: 0 15px 0 30px;
    }

    @media(max-width: 500px) {
      font-size: .85rem;
    }
  }

  & .continue {
    text-align: center;
    margin: 1.1rem auto;
    @include wall-title();
    &-mobile { display: none; }
  }
}

@media(max-width: 650px) {
  .popular {
    margin-bottom: 3rem;

    & .flex {
      display: grid;
      grid-template-columns: 2fr auto;
      align-items: center;
    }

    & .continue {
      display: none;

      &-mobile {
        position: relative;
        @include wall-title();
        display: block;
        position: relative;
        top: 1rem;
        text-align: center;
        padding-left: 21px;
        & span { margin: 0 !important; }
      }
    }
  }
}
