$quill-padding: 30px;
$quill-padding-sm: 20px;

// FADE IN
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.ql-editor > * {
  animation-duration: .5s !important;
  animation-fill-mode: both !important;
  animation: fadeIn;
  animation-name: fadeIn;
  transition: opacity;
}

.ql-editor {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: $quill-padding;
  line-height: inherit;
  overflow-y: initial;
  &[contenteditable="false"] { padding: 0 }
  min-height: var(--quill-height);
  max-height: var(--quill-height);

  // PARAGRAPH
  & p {
    margin: 0 0 30px;
    text-align: left;
    &:last-of-type { 
      margin: 0;
      padding-bottom: 35px;
    }

    & + ul, & + ol {
      margin-top: 0;
    }
  }

  &.ql-blank::before {
    top: 6px;
    right: $quill-padding !important;
    left: $quill-padding !important;
    font-style: normal !important;
    color: var(--text-color);
    opacity: .7;
    padding-bottom: $quill-padding !important;
  }

  @media(max-width: 550px) {
    padding: 20px;
    font-size: 13px;

    &.ql-blank::before {
      top: -4px;
      right: $quill-padding-sm !important;
      left: $quill-padding-sm !important;
      padding-bottom: $quill-padding-sm !important;
    }
  }

  // BLOCKQUOTE
  & blockquote {
    width: 100%;
    margin: 36px 0 35px !important;
    background: var(--quote-bg);
    padding: 15px 22px 15px 25px !important;
    transition: background 666ms ease-in-out;
    font-style: italic;
    font-size: 16px;
    border-left: 5px solid var(--contrast-color) !important;
    color: var(--button-text-color);

    &:first-child { margin-top: 0 !important }
  }

  // UNORDER LIST
  & ul {
    margin: 36px 0 35px;
    list-style: none;

    & li {
      margin: 12px 0;
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f0da";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size: 20px;
        color: var(--contrast-color);
      }
    }

    &:first-child { margin-top: 0 }
  }

  // ORDERED LIST
  & ol {
    counter-reset: my-counter;
    margin: 36px 0 35px;
    list-style: none;

    & li {
      margin: 12px 0;
      position: relative;
      padding-left: 27px;
      counter-increment: my-counter;

      &::before {
        content: counter(my-counter);
        position: absolute;
        left: 0;
        top: -2px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size: 20px;
        color: var(--contrast-color);
      }
    }

    &:first-child { margin-top: 0 }
  }

  // HEADING
  & h2 {
    margin: 45px 0 30px 0;
    position: relative;
    scroll-margin-top: 30px;

    &::before {
      content: '';
      position: absolute;
      bottom:-2px;
      left: 0;
      width: 20px;
      height: 3px;
      background: var(--contrast-color);
    }

    &:first-child { margin-top: 0; }
  }

  // CODE
  & pre {
    margin: 36px 0 35px !important;
    &:first-child { margin-top: 0 !important }
  }

  // IMAGE
  & img {
    display: block;
    margin: 14px 0 30px;
    &:last-child { margin-bottom: 0 }
  }
}

.alone {
  & .ql-editor {
    max-height: initial;
    min-height: initial;
  }
}

.tale {
  color: var(--contrast-color);
  padding: 0 8px 0 6px;
  transition: color 666ms ease-in-out;
}

// DRAFT STATUS
.seen { color: #364bbe; }
.not-seen { color: #7021ca; }
.pending { color: var(--error-color); }
.approved { color: var(--success-color); }

button {
  &.seen, &.not-seen, &.pending, &.approved, &.all {
    appearance: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: #fff;
    border-radius: .25rem;
    border: 0;
    position: absolute;
    right: 0px;
    top: -4px;
    padding: 5px 12px;
    color: #313235;
    border: 1px solid var(--navigation-border);
    transition: border 666ms ease-in-out, 
                background 666ms ease-in-out;
  }

  &.seen { 
    background-color: var(--seen-color);
  }

  &.not-seen { 
    background-color: var(--not-seen-color);
  }

  &.pending {
    background-color: var(--pending-color);
  }

  &.approved {
    background-color: var(--approved-color);
  }
}