@import 'mixins/mixins.scss';

.snack {
  @include flex-center();
  background: var(--dark-color);
  color: var(--light-color);
  min-width: var(--snack-width);
  height: var(--snack-height);
  text-align: center;
  font-weight: bold;
  font-size: .85rem;
  position: fixed;
  top: 80px;
  left: 0;
  text-transform: uppercase;
  font: normal 12px/15px "Merriweather", Arial, Helvetica;

  &::after {
    content: '';
    height: 100%;
    position: absolute;
    background: var(--contrast-color);
    width: 4px;
    right: 0;
    top: 0;
  }

  @media(max-width: 700px) {
    top: 1%;
    z-index: 9999;
  }

  &.error { border: 3px solid #b40707 }
  &.warning { border: 3px solid #e0bf04 }
  &.info { border: 3px solid #0554ca }

  &.error, &.warning, &.info {
    &::after {
      content: none;
      width: 0;
    }
  }
}