.slogan {
  padding: 60px 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  & .wrapper {
    display: block;

    & span {
      text-transform: uppercase;
      display: inline-block;

      &:not([class]) {
        font-size: 3rem;
        padding: 0 .8rem;
        top: 10px;
        letter-spacing: 1px;
        font-weight: bold;
        position: relative;
      }

      &.first, &.last {
        font-weight: normal;
        border-bottom: 1px solid var(--dark-color);
        line-height: 35px;
        padding: 0;
        width: 55px;
        text-align: center;
      }

      &.first {
        font-size: 1.4rem;
        transform: rotate(-90deg);
      }

      &.last {
        font-size: 1.2rem;
        transform: rotate(90deg);
      }
    }
  }

  & p {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 8px;
    margin: 11px 0 0;
    position: relative;
    left: 2px;
  }

  @media(max-width: 700px) {
    padding: 70px 0 60px 0;
  }
}
