@import 'mixins/mixins.scss';

.header-preview {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--light-color);
  z-index: 1000;
}

::-webkit-scrollbar { width: 4px !important;  }

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg) !important;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

quill-view {
  display: block;
  margin: 2rem 0;
}

h2 {
  position: relative;
  font-size: 26px;
}

.close {
  background-color: transparent;
  position: absolute;
  outline: none;
  right: 0px;
  top: -1px;
  padding: 4px;
  border: none;
  cursor: pointer;

  & i {
    font-size: 20px;
    color: var(--dark-color);
  }
}