@import 'mixins/mixins.scss';

.header-preview {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--light-color);
  z-index: 1000;
}

::-webkit-scrollbar { width: 4px !important;  }

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg) !important;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}