@import 'mixins/mixins.scss';

.header-preview {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--light-color);
  z-index: 1000;
}

h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--navigation-border);
  margin-bottom: 2rem;
  @include text-ellipsis(4rem);
  padding-top: 1.8rem;

  & button {
    position: absolute;
    top: 26px;
    right: -10px;
    border-radius: 100%;
    margin-top: -1px;
    width: 38px;
    height: 38px;
    min-width: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    & i {
      font-size: 1.6rem;
      color: var(--dark-color);
      position: relative;
      top: -2px;
    }
  }

  @media(max-width: 550px) {
    font-size: 1.8rem;
  }
}