.toolbar {
  border: none;
  border-top: 1px solid var(--navigation-border);
  transition: border 666ms ease-in-out;
  padding: 12px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & i:not(.fa-pulse):not(.fa-check) {
    height: 24px;
    padding: 3px 8px;
    width: 28px;
    position: relative;
    top: .5px;
    cursor: pointer;
    transition: filter 200ms ease-in;
    &:hover:not(.disabled):not(.fa-newspaper) { color: var(--contrast-color) }
  }

  & i.fa-check { 
    top: 0;
    color: var(--success-color);
    margin-right: .8rem;
  }

  & .actions i {
    &:nth-last-child(2) { 
      margin-left: 24px;

      @media(max-width: 450px) {
        margin-left: 12px;
      }
     }

    &:nth-child(3) {
      margin-left: 24px;
      margin-right: 5px;

      @media(max-width: 450px) {
        margin-left: 12px;
      }
    }

    &.disabled {
      filter: invert(1);
      cursor: not-allowed;
    }
  }

  & i.fa-pulse {
    margin-right: .8rem;
    position: relative;
    top: -1px;
  }

  & i.fa-exclamation-triangle {
    margin-right: 10px;
    margin-left: 12px;
    color: var(--contrast-color);

    & + span {
      position: relative;
      top: 1px;
    }
  }

  & i.fa-newspaper {
    top: 1px !important;
    margin-right: 5px;
    font-size: 16px;
  }

  & i.fa-wpforms, & i.fa-question-circle {
    font-size: 15px;
    top: 1.5px !important;
  }

  & i.fa-wpforms {
    margin-left: 3px;
  }

  & i.fa-external-link-alt {
    margin-left: 2px;
  }

  & .animated {
    font-size: 13px;

    &:not(.warning) {
      margin-left: 28px;
    }
  }

  @media(max-width: 710px) {
    & .animated {
      & span {
        display: none;
      }
    }
  }
}

.flex {
  display: flex;
  align-items: center;

  & span {
    position: relative;
    top: -1px;
  }
}


