<div class="toolbar"
     [ngClass]="{'form': form}">  <!-- TOOLBAR -->
  <div class="flex">
    <!-- TOTAL -->
    <span>
      <i class="far fa-newspaper"></i> {{total$ | async}}
    </span>
    <ng-container *ngIf="(saving$ | async) as state">
      <ng-container [ngSwitch]="state.type">
        <!-- SAVING -->
        <ng-container *ngSwitchCase="'saving'">
          <div class="animated fadeIn">
            <i [class]="state.value ? 'fas fa-spinner fa-pulse' : 'fas fa-check'"></i> 
            <span>{{state.value ? 'Guardando...' : 'Guardado'}}</span>
          </div>
        </ng-container>
        <!-- WARNING -->
        <ng-container *ngSwitchCase="'warning'">
          <div class="animated fadeIn warning">
            <i class="fas fa-exclamation-triangle"></i>
            <span>No se ha podido guardar. Comprueba los datos</span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'temporal'">
          <div class="animated fadeIn warning">
            <i class="fas fa-exclamation-triangle"></i>
            <span>No se guardarán los datos hasta que aceptes.</span>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="actions" *ngIf="{
    saving: saving$ | async
  } as pipe">  
    <!-- ACTIONS -->
    <ng-container *ngFor="let l of list">
      <ng-container *ngIf="!form">
        <i [class]="l.icon"
          [matTooltip]="(!pipe.saving?.value && draft) ? l.label : null"
          (click)="switchObj[l.action](pipe.saving?.value)"
          [ngClass]="{'disabled': pipe.saving?.value || !draft || (draft.temporal && (l.action === 'new'))}">
        </i>
      </ng-container>
    </ng-container>
    <!-- HELP -->
    <ng-container *ngIf="!form">
      <i class="far fa-question-circle" 
        matTooltip="Ayuda" 
        (click)="switchObj.help()">
      </i>
      <!-- NEXT -->
      <i class="fab fa-wpforms"
        [matTooltip]="(!pipe.saving?.value && draft) ? 'Formulario' : null"
        [ngClass]="{'disabled': pipe.saving?.value || !draft}"
        (click)="switchObj.next()">
      </i>
    </ng-container>
    <ng-container *ngIf="form">
      <!-- CLEAN -->
      <i class="fas fa-broom"
        matTooltip="Limpiar"
        (click)="switchObj.clean()">
      </i>
      <!-- BACK -->
      <i class="fas fa-fast-backward"
        matTooltip="Lienzo"
        [routerLink]="['../']"
        *ngIf="form">
      </i>
    </ng-container>
  </div>
</div>
