@if(data && data.user) {
  <div class="header-preview">
    <h2>
      Editar Perfil
      <button class="close" mat-dialog-close>
        <i class="fas fa-times"></i>
      </button>
    </h2>
  </div>
  <div class="edit-profile">
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
      <!-- NAME -->
      <div class="form-control">
        <label for="name">Nombre</label>
        <input formControlName="name"
                autocomplete="off"
                type="text"
                required/>
        <span class="hint">El nombre que te identifica en la aplicación.</span>
        <app-form-error [control]="name"
                        [validator]="['pattern', 'minlength', 'maxlength', 'required']">
        </app-form-error>
      </div>
      <!-- PROFESION -->
      <div class="form-control">
        <label for="name">Profesión</label>
        <input formControlName="role"
                autocomplete="off"
                type="text"/>
        <span class="hint">Indica tu profesión (opcional).</span>
        <app-form-error [control]="role"
                        [validator]="['maxlength']">
        </app-form-error>
      </div>
      <!-- TWITTER -->
      <div class="form-control">
        <label for="name">Twitter</label>
        <input formControlName="twitter"
                autocomplete="off"
                type="text"/>
        <span class="hint">Añade el link a tu perfil de Twitter.</span>
        <app-form-error [control]="twitter"
                        [validator]="['pattern']">
        </app-form-error>
      </div>
      <!-- GITHUB -->
      <div class="form-control">
        <label for="name">Github</label>
        <input formControlName="github"
                autocomplete="off"
                type="text"/>
        <span class="hint">Añade tu repositorio de Github.</span>
        <app-form-error [control]="github"
                        [validator]="['pattern']">
        </app-form-error>
      </div>
      <!-- PORTFOLIO -->
      <div class="form-control">
        <label for="name">Portfolio</label>
        <input formControlName="portfolio"
                autocomplete="off"
                type="text"/>
        <span class="hint">Añade el link a tu Portfolio personal.</span>
        <app-form-error [control]="portfolio"
                        [validator]="['pattern']">
        </app-form-error>
      </div>
      <!-- ABOUT -->
      <div class="form-control">
        <label for="name">Sobre ti</label>
        <textarea formControlName="bio"
                autocomplete="off"
                type="text">
        </textarea>
        <span class="hint">Escribe algo sobre ti.</span>
        <app-form-error [control]="bio"
                        [validator]="['minlength', 'maxlength']">
        </app-form-error>
      </div>
      <!-- SUBMIT -->
      <button type="submit"
              mat-button
              class="formatted"
              aria-label="Edit"
              [disabled]="editProfileForm.invalid">
              Editar
      </button>
    </form>
  </div>
}


