<div class="profile-content">
  <!-- HERO IMAGE -->
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda architecto hic quasi accusamus ratione quisquam quia ex aliquam aliquid. 
      Vel deleniti eaque nihil praesentium quod ducimus autem ipsam, natus impedit doloribus at nam atque tempore omnis, dolorem repudiandae temporibus repellat!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda architecto hic quasi accusamus ratione quisquam quia ex aliquam aliquid. 
      Vel deleniti eaque nihil praesentium quod ducimus autem ipsam, natus impedit doloribus at nam atque tempore omnis, dolorem repudiandae temporibus repellat!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda architecto hic quasi accusamus ratione quisquam quia ex aliquam aliquid. 
      Vel deleniti eaque nihil praesentium quod ducimus autem ipsam, natus impedit doloribus at nam atque tempore omnis, dolorem repudiandae temporibus repellat!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda architecto hic quasi accusamus ratione quisquam quia ex aliquam aliquid. 
      Vel deleniti eaque nihil praesentium quod ducimus autem ipsam, natus impedit doloribus at nam atque tempore omnis, dolorem repudiandae temporibus repellat!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda architecto hic quasi accusamus ratione quisquam quia ex aliquam aliquid. 
      Vel deleniti eaque nihil praesentium quod ducimus autem ipsam, natus impedit doloribus at nam atque tempore omnis, dolorem repudiandae temporibus repellat!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda architecto hic quasi accusamus ratione quisquam quia ex aliquam aliquid. 
      Vel deleniti eaque nihil praesentium quod ducimus autem ipsam, natus impedit doloribus at nam atque tempore omnis, dolorem repudiandae temporibus repellat!
    </p>
  </div>
</div>
