@import 'mixins/mixins.scss';

h1 {
  font-size: 24px;
  margin-bottom: 2px;
}

.reset {
  margin-bottom: 2rem;
  opacity: .7;
  font-size: 13px;
}

.profile-content {
  max-height: 750px;
  overflow-y: auto;
  padding-bottom: 0;

  & article {
    @include shadow-card();
    padding: 14px 18px 14px 20px;
    margin-bottom: 1rem;
    position: relative;

    &.route {
      cursor: pointer;

      &:hover {
        & .content {
          &::after {
            color: var(--contrast-color);
          }
        }
      }
    }

    & span {
      font-size: 15px;
      display: inline-block;
      margin-bottom: 4px;
      line-height: 18px;
      position: relative;
    }

    & .content {
      position: relative;
    }

    & p.title {
      font-size: 12px;
      opacity: .8;
    }

    & .icons {
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }

    & i {
      padding: 0 4px;
      font-size: 16px;
    }

    &.route {
      & .content {
        &::after {
          content: "\f101";
          position: absolute;
          font-size: 13px;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          display: inline-block;
          font-style: normal;
          top: 0;
          right: 0;
          transition: all 150ms ease-in-out;
        }
      }
    }

    @media(max-width: 992px) {
      & span {
        font-size: 13px;
      }
    }

    &.create::before, 
    &.delete::before, 
    &.update::before {
      content: "";
      height: 100%;
      width: 6px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .6;
    }

    &.create::before {
      background-color: var(--success-color);
    }

    &.delete::before {
      background-color: var(--error-color);
    }

    &.update::before {
      background-color: var(--info-color);
    }

    &.admin {
      &::before {
        content: "";
        height: 100%;
        width: 6px;
        background-color: #f64ea8;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .6;
      }
    }

    @media(width < 650px) {
      & span {
        padding-right: 40px;
      }

      & .title {
        margin-top: 10px;
      }
    }
  }
}

@media(max-width: 992px) {
  h1 {
    margin-top: 3.2rem;
    position: relative;
    font-size: 22px;

    &::before {
      content: "";
      position: absolute;
      top: -36px;
      width: 100%;
      left: 0;
      border-top: 1px solid var(--border-color);
      transition: all 666ms ease-in-out;
    }
  }

  .profile-content { 
    margin-bottom: 1.8rem;
  } 
}

::-webkit-scrollbar { width: 4px !important;  }
