@import 'mixins/mixins.scss';

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
    padding: 12px;
    cursor: pointer;
    border: 1px solid var(--navigation-border);
    transition: border 666ms ease-in-out;
    position: relative;
    margin-top: 1.2rem;
    &.active { border-right: 1px solid var(--contrast-color) !important }

    & i {
      position: absolute;
      left: -16px;
      top: 15.5px;
      font-size: 16px;
      color: var(--contrast-color);
    }

    & input {
      font-size: .9rem;
      display: inline-block;
      margin-bottom: 5px;
      position: relative;
      max-width: 280px;
      overflow: hidden;
      background: transparent;
      color: var(--dark-color);
      font-family: 'Raleway', Arial, Helvetica, sans-serif;
      padding: 0;
      border: 0;
      border-radius: 0;
      @media(max-width: 1200px) and (min-width: 993px) { max-width: 239px }
      transition: color 666ms ease-in-out;
    }

    & .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 4px;

      & p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        opacity: .8;
        font-size: 13px;
      }

      & span { 
        font-size: 13px;
        filter: brightness(1.2);
      }
    }

    & .date {
      font-size: .8rem;
      font-style: italic;
      transition: color 666ms ease-in-out;

      & .tale {
        color: var(--contrast-color);
        padding: 0 12px 0 8px;
        transition: color 666ms ease-in-out;
      }

      & .created { color: var(--text-color); }
      &.seen { color: #364bbe; }
      &.not-seen { color: #f1ad5e; }
      &.pending { color: var(--pending-color); }
      &.correct { color: var(--success-color); }
    }

    &:first-child { 
      margin-top: 0;
    }

    &:hover {
      background-color: var(--li-hover);
    }
  }

  @media(max-width: 992px) {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    margin-bottom: 1rem;
    gap: 4%;

    & li {
      &:first-child { 
        margin-top: 1.2rem;
      }

      & .info {
        & p { max-width: initial }
      }
    }
  }

  @media(max-width: 700px) {
    display: initial;

    & li {
      & .info {
        & p { max-width: initial }
      }

      & input { max-width: 290px }
    }

    margin-bottom: 2.5rem;
  }
}