@import 'mixins/mixins.scss';

aside {
  position: relative;

  & i {
    position: absolute;
    transform: scale(-1, 1);
    right: 12px;
    top: -30px;
    font-size: 15px;
    cursor: pointer;
    display: block;
    height: 24px;
    width: 28px;

    &.collapsed {
      transform: scale(1, 1);
      right: 8px;
    }

    @media(max-width: 992px) {
      display: none;
      pointer-events: none;
    }
  }
}

ul {
  list-style: none;
  height: 551px;
  max-height: 551px;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  position: relative;
  margin-top: 36px;
  overflow-x: hidden;
  transition: width 300ms ease-in;

  @media(max-width: 992px) {
    display: grid;
    height: 100%;
    max-height: 612px;
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
    margin-top: 0;
    gap: 12px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  @media(max-width: 650px) {
    display: block;
    margin-bottom: 0;
  }
}

p.total {
  opacity: .6;
  margin-bottom: 12px;
}

.empty {
  font-size: 13px;

  & p {
    margin-bottom: 25px;
    padding-right: 3rem;
    &:first-child { margin-top: 30px }
    &:last-child { margin-bottom: 0 }
  }

  @media(max-width: 1200px) and (min-width: 993px) {
    & p {
      padding-right: 2rem;
      font-size: 12px;
      margin-bottom: 18px;
    }
  }

  @media(max-width: 992px) {
    padding: 0 0 50px;
    border-bottom: 1px solid var(--navigation-border);
  }
}

i.fa-wpforms, i.fa-question-circle { margin: 0 4px }


// SCROLLBAR
::-webkit-scrollbar { width: 4px !important;  }

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}


