<aside>
  <i class="fas fa-sign-out-alt" [ngClass]="{'collapsed': isCollapsed}" (click)="collapse()"></i>
  <ul *ngIf="{
    saving: saving$ | async,
    ondeleteID: id$ | async
  } as pipe" class="draft-list" 
  [ngClass]="{'collapsed': isCollapsed, 'list-scroll': drafts.length > 14 || drafts.length % 2 !== 0}">
    <app-draft-card *ngFor="let d of drafts; let last = last; let first = first"
                    [draft]="d"
                    [id]="pipe.ondeleteID"
                    [last]="last"
                    [saving]="pipe.saving"
                    [first]="first"
                    [collapsed]="isCollapsed">
    </app-draft-card>
  </ul>
</aside>






