<div class="animated fadeIn">
  <div class="wrapper">
    <app-post-carrousel/>
    <app-action-bar [text]="text"
                    buttonText="Subscríbete"
                    (function)="notification()"
                    [margin]="true">
    </app-action-bar>
  </div>
  <section class="post-content">
    <app-section [margin]="false">
      @if({post: post$ | async}; as obs) {
        <app-post-content [post]="obs.post" id="sticky-wrapper"/>
        <app-post-sidebar [post]="obs.post"/>
      }
    </app-section>
  </section>
</div>

<app-scroll-top/>
