<div class="animated fadeIn">
  <div class="wrapper">
    <app-post-carrousel></app-post-carrousel>
    <app-action-bar [text]="text"
                    buttonText="Subscríbete"
                    (function)="notification()"
                    [margin]="true">
    </app-action-bar>
  </div>
  <section class="post-content">
    <app-section [margin]="false">
      <app-post-content id="sticky-wrapper"></app-post-content>
      <app-post-sidebar></app-post-sidebar>
    </app-section>
  </section>
</div>

<app-scroll-top></app-scroll-top>
