.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.mat-dialog-container {
  background: var(--light-color);
  color: var(--text-color);
}

.owl-carousel.owl-theme.owl-loaded {
  z-index: 0;
}
