// DIALOG CONTAINER
.mat-dialog-container {
  background: var(--light-color);
  color: var(--text-color);
}

// OVERLAY BACKDROP
.cdk-overlay-dark-backdrop { background: rgba(0, 0, 0, .82) }

// LOGIN OVERLAY
.login-overlay .mat-dialog-container { max-width: 361px }

.cdk-overlay-pane {
  overflow: auto;
  max-height: 80vh;

  & .mat-dialog-container { 
    border-radius: 0 !important;
    & .mat-dialog-content { height: 100% }
  }
  
  &.preview {
    overflow: auto;
    max-width: 65vw !important;
    min-width: 50vw !important;

    @media(max-width: 550px) { 
      max-width: 100vw !important;
      min-width: 100% !important;
      min-height: 100vh !important;
    }

    & .ql-editor[contenteditable=false] {
      padding-right: 25px !important;
      max-height: initial !important;
    }
  }

  &.quill-help {
    & .mat-dialog-container { padding-right: 32px !important }
  }
}

.mat-tooltip {
  background: var(--dark-color) !important;
  color: var(--light-color) !important;
  padding: 2px 8px !important;
  font-weight: bold;
  font-size: 12px;
  border-radius: 2px !important;
}

.mat-dialog-actions .mat-button-base + .mat-button-base {
  background-color: rgba(0,0,0, .2);
}

