@import 'mixins/mixins.scss';

.wrapper {
  @include container();
  @include row();
  overflow: hidden;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16%, 1fr));
  margin-bottom: 3rem;
  overflow: hidden;

  & .inner {
    overflow: hidden;

    & img {
      max-width: 100%;
      border: 0;
      width: 100%;
      height: 100%;
      transition: transform 300ms ease-in-out;
      @media(min-width: 1200px) { aspect-ratio: 3/2.7 }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        opacity: .8;
      }
    }
  }

  @media(max-width: 650px) {
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  }
}

h4 {
  margin: 80px 0 20px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  position: relative;
  padding-top: 30px;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--border-color);
    transition: border-top 666ms ease-in-out;
    top: -22px;
    left: 0;
  }

  @media(max-width: 992px) {
    margin-top: 35px;
    padding-top: 10px;

    &::before { content: none }
  }
}
