<div class="animated fadeIn">
  <div class="wrapper">
    <app-action-bar [tooltip]="tooltip"
                    buttonText="Subscríbete"
                    [function]="notification"
                    [margin]="true">
    </app-action-bar>
  </div>
  <section class="news-content">
    <app-section [margin]="false">
      <app-news-masonry [duration]="duration"></app-news-masonry>
    </app-section>
  </section>
</div>

<div class="top">
  <a TopDirective class="animated" (click)="goTop()">
    <i class="fas fa-chevron-up"></i>
  </a>
</div>

