@import 'mixins/mixins.scss';

section {
  @include container();
  @include row();
  position: relative;
}

.wrapper {
  transition: background 666ms ease-in-out;
  position: relative;
  padding-top: 10px;
}

.profile-content {
  min-height: 340px;
}

