@import 'mixins/mixins.scss';

section {
  @include container();
  @include row();
  position: relative;
}

.wrapper {
  transition: background 666ms ease-in-out;
  position: relative;
  padding-top: 10px;

  @media(max-width: 992px) { 
    padding: 0 5px 20px;
  }
}

