<div class="animated fadeIn">
  <section class="profile-public-content">
    <app-section>
      @if({
        user: public$ | async,
        activities: activities$ | async
      }; as obs) {
        <app-profile-home-content id="sticky-wrapper" 
                                  [user]="obs.user" 
                                  [activities]="obs.activities">
        </app-profile-home-content>
        <app-profile-home-sidebar [user]="obs.user" 
                                  [isPublic]="true" 
                                  [selector]="'profile-public-content'">
        </app-profile-home-sidebar>
      }
    </app-section>
  </section>
</div>