@import 'mixins/mixins.scss';

.card {
  width: 100%;
  padding: 1.2rem;
  margin: 1.5rem 0;
  border-radius: 4px;
  @include shadow-card();
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  & h6 {
    font-size: 1.5rem;
    margin-bottom: .888rem;
    line-height: 30px;
    @include text-ellipsis(130px);
  }

  &-data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 5px;

    & span {
      margin-right: 2.5rem;

      &:last-child {
        text-align: right;
        margin-right: 0;
        flex: 2;
      }
    }
  }

  @media(max-width: 625px) {
    padding: .8rem;

    &-data {
      flex-direction: column;
      align-items: flex-start;

      & button {
        bottom: 4px;
        top: initial;
        padding: 3px 8px;
      }

      & span {
        font-size: 13px;
        line-height: 16px;
      }

      & .category {
        margin-top: 2px;
        font-size: 13px;
      }
    }

    & h6 {
      padding-right: 0;
      font-size: 1.2rem;
      margin-bottom: .5rem;
    }
  }
}

.category {
  overflow: hidden;
  padding: 0;
  font-style: italic;
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  opacity: .9;
  color: var(--contrast-color);
  cursor: pointer;
  transition: color 666ms ease-in-out;
}