<aside Sticky [selector]="'home-content'">
  <div class="sidebar">
    <div class="sidebar__inner">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Minus ab ipsam nostrum praesentium repellat possimus architecto
        maiores inventore, sit laborum soluta reprehenderit doloribus
        pariatur a labore suscipit porro ea eum quam sed repudiandae
        voluptatum voluptate? Officia natus sapiente exercitationem,
        distinctio, nisi labore nihil, laborum numquam autem ea velit tempore consequatur.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Minus ab ipsam nostrum praesentium repellat possimus architecto
        maiores inventore, sit laborum soluta reprehenderit doloribus
        pariatur a labore suscipit porro ea eum quam sed repudiandae
        voluptatum voluptate? Officia natus sapiente exercitationem,
        distinctio, nisi labore nihil, laborum numquam autem ea velit tempore consequatur.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Minus ab ipsam nostrum praesentium repellat possimus architecto
        maiores inventore, sit laborum soluta reprehenderit doloribus
        pariatur a labore suscipit porro ea eum quam sed repudiandae
        voluptatum voluptate? Officia natus sapiente exercitationem,
        distinctio, nisi labore nihil, laborum numquam autem ea velit tempore consequatur.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Minus ab ipsam nostrum praesentium repellat possimus architecto
        maiores inventore, sit laborum soluta reprehenderit doloribus
        pariatur a labore suscipit porro ea eum quam sed repudiandae
        voluptatum voluptate? Officia natus sapiente exercitationem,
        distinctio, nisi labore nihil, laborum numquam autem ea velit tempore consequatur.
      </p>
    </div>
  </div>
</aside>
