@import 'mixins/mixins.scss';

@media(max-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }

  app-category-box {
    display: none;
  }

  app-recent-post-box {
    grid-column: 1/-1;
  }
}

@media(max-width: 650px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
  }
}