<nav StickyNav (scrolled)="onScroll($event)">
  <div class="wrapper">
    <div class="nav"> <!-- LEFT SIDE -->
      <app-text-slider></app-text-slider>
    </div>
    <div class="actions"> <!-- RIGHT SIDE -->
      <div class="icons">
        <ul aria-hidden="false">  <!-- ARRAY -->
          <li aria-hidden="false">
            <i class="fas fa-home"
               routerLink="/home"
               routerLinkActive="active"
               aria-label="home">
            </i>
          </li>
          <!-- CREATE -->
          <ng-container *ngIf="user$ | async">
            <li class="animated fadeIn" aria-hidden="false">
              <i class="fas fa-feather-alt"
                 aria-label="create"
                 routerLink="/create"
                 routerLinkActive="active">
              </i>
            </li>
          </ng-container>
          <li *ngFor="let i of icons" aria-hidden="false">
            <i [class]="i.icon"
               [attr.aria-label]="i.icon"
               [routerLink]="i.route"
               routerLinkActive="active">
            </i>
          </li>
          <ng-container *ngIf="mode === 'dark'; else light">
            <li (click)="theme()" aria-hidden="false">
              <i class="far fa-lightbulb" aria-label="light"></i>
            </li>
          </ng-container>
          <ng-template #light> <!-- THEME -->
            <li (click)="theme()" aria-hidden="false">
              <i class="far fa-moon" aria-label="dark"></i>
            </li>
          </ng-template>
          <li class="dropdown" aria-hidden="false"> <!-- DROPDOWN -->
            <i class="fas fa-align-justify"
               (click)="menuOpened = !menuOpened"
               aria-label="dropwdown">
            </i>
            <ul class="dropdown-menu" *ngIf="menuOpened">
              <li [class]="'dropdown-item-' + (i + 1)" aria-hidden="false"
                  *ngFor="let m of dropdown; let i = index">{{m}}
              </li>
              <ng-container *ngIf="(user$ | async) as user">
                <li *ngIf="user.account === 'Admin' || user.account === 'Super'" 
                     [class]="'dropdown-item-' + (dropdown.length + 1)"
                     [routerLink]="'/admin'"
                     (click)="menuOpened = false"
                     aria-label="admin">Admin
                </li>
              </ng-container>
            </ul>
          </li>  <!-- USER -->
          <ng-container *ngIf="(user$ | async); else noUser">
            <li aria-hidden="false">
              <i [routerLink]="'/profile'" 
                 routerLinkActive="active" 
                 class="fas fa-user"
                 aria-label="user">
              </i>
            </li>
          </ng-container>
          <ng-template #noUser>
            <li (click)="openModal()" aria-hidden="false">
              <i class="fas fa-sign-in-alt" aria-label="sign"></i>
            </li>
          </ng-template>
        </ul>
      </div> <!-- SEARCH BUTTON -->
      <div class="search"
           (click)="showSearchBar = !showSearchBar" aria-hidden="false">
        <i class="fas fa-search" aria-label="search"></i>
      </div>
    </div>
  </div>
</nav>

<div class="backdrop"
     (click)="menuOpened = false"
     *ngIf="menuOpened">
</div>

 <!-- SEARCH BAR -->
 <app-search-bar *ngIf="showSearchBar" 
                (closed)="showSearchBar = !showSearchBar">
</app-search-bar>
