<nav StickyNav (scrolled)="onScroll($event)">
  <div class="wrapper">
    <div class="nav"> <!-- LEFT SIDE -->
      <app-text-slider></app-text-slider>
    </div>
    <div class="actions"> <!-- RIGHT SIDE -->
      <div class="icons">
        <ul>  <!-- ARRAY -->
          <li *ngFor="let i of icons">
            <i [class]="i.icon"
               [routerLink]="i.route"
               routerLinkActive="active">
            </i>
          </li>
          <ng-container *ngIf="mode === 'dark'; else light">
            <li (click)="theme()">
              <i class="far fa-lightbulb"></i>
            </li>
          </ng-container>
          <ng-template #light> <!-- THEME -->
            <li (click)="theme()">
              <i class="far fa-moon"></i>
            </li>
          </ng-template>
          <li class="dropdown"> <!-- DROPDOWN -->
            <i class="fas fa-align-justify"
               (click)="menuOpened = !menuOpened">
            </i>
            <ul class="dropdown-menu" *ngIf="menuOpened">
              <li [class]="'dropdown-item-' + (i + 1)"
                  *ngFor="let m of dropdown; let i = index">{{m}}
              </li>
            </ul>
          </li>  <!-- USER -->
          <li (click)="openModal()">
            <i class="fas fa-sign-in-alt"></i>
          </li>
        </ul>
      </div> <!-- SEARCH BUTTON -->
      <div class="search"
           (click)="showSearchBar = !showSearchBar">
        <i class="fas fa-search"></i>
      </div>
    </div>
  </div>
</nav>

<div class="backdrop"
     (click)="menuOpened = false"
     *ngIf="menuOpened">
</div>

 <!-- SEARCH BAR -->
 <app-search-bar *ngIf="showSearchBar" 
                (closed)="showSearchBar = !showSearchBar">
</app-search-bar>
