@import 'mixins/mixins.scss';

.recent {
  position: relative;
  text-align: center;
  @media(max-width: 992px) { margin-bottom: 21px }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    & li {
      list-style: none;
      overflow: hidden;
      padding: 10px 0;
      display: flex;
      align-items: center;
      transition: border-top 666ms ease-in-out;
      position: relative;

      @media (min-width: 993px) {
        &:first-child {
          padding-top: 0;
          border: 0;
        }
      }

      &:nth-last-child(-n+1) { display: none }

      & .wrapper {
        overflow: hidden;
        margin-right: 20px;
        width: 75px;
        height: 75px;
      }

      & img {
        transition: all 300ms ease-in-out;
        width: 75px;
        height: 75px;
      }

      & .info {
        text-align: left;
        position: relative;
        top: -2px;

        & h1 {
          color: var(--text-color);
          font-style: normal;
          font-family: 'Raleway', Arial, Helvetica, sans-serif;
          font-weight: 600;
          line-height: 1.5;
          margin: 0px 0px 8px 0px;
          text-transform: capitalize;
          font-size: 16px;
        }

        & span {
          display: block;
          font-family: 'Merriweather', Arial, Helvetica, sans-serif;
          font-style: italic;
          font-size: 10px;
          line-height: 14px;

          &.date {
            color: var(--contrast-color);
            transition: color 666ms ease-in-out;
          }
        }
      }

      &:hover {
        cursor: pointer;
        & h1 { filter: contrast(1.5); }

        & img {
          opacity: .8;
          transform: scale(1.1);
        }

        &::after {
          right: 10px;
        }
      }

      @media(max-width: 549px) {
        &::after {
          content: "\f105";
          position: absolute;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          right: 13px;
          font-size: .8rem;
          transition: right 300ms ease-in-out;
          color: var(--dark-color);
        }
      }
    }

    @media(min-width: 750px) and (max-width: 992px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;

      & li {
        & .info h1 { font-size: 14px; }
        &:nth-last-child(-n+1) { display: flex; }
      }
    }

    @media(min-width: 550px) and (max-width: 749px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      
      & li:nth-child(2) { border-top: 0 }
      & li:nth-last-child(-n+2) { display: flex }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: -35px;
    width: 100%;
    left: 0;
    border-top: 1px solid var(--border-color);
    transition: all 666ms ease-in-out;
  }

}
