@import 'mixins/mixins.scss';

app-profile-settings-content {
  @include grid-component();

  @media(max-width: 992px) {
    margin-bottom: 3rem;
  }
}

app-action-bar {
  display: block;
  position: relative;
  margin-top: -10px;
}

app-profile-settings-sidebar {
  @include grid-child();
}