.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

  & h3 {
    margin: 0;
    color: var(--text-color);
    line-height: 1.5;
    margin: 10px auto;
    font-style: normal;
    text-align: center;
    transition: border 300ms ease-in-out;
  }

  & p {
    text-align: center;
    overflow: hidden;

    & span {
      display: inline-block;
      position: relative;
      font-style: italic;
      color: var(--text-color);
      padding: 0 15px;
      font-size: 12px;
      line-height: 14px;
      opacity: .8;


      & i {
        margin-right: 6px;
        position: relative;
        top: -1px;
        font-size: 12px;
      }

      &.slash {
        &:after {
          content: '/';
          position: absolute;
          top: -1px;
          left: -6px;
          font-size: 15px;
          line-height: 18px;
        }
      }
    }
  }
}

.item {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & .overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;
    padding: 20px;

    & .info {
      text-align: center;
      height: 100%;
      border: 1px solid #fbfbfb;

      & .inner {
        visibility: visible;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
        background: var(--transparent-bg);
      }
    }
  }

  &:hover {
    & .overlay {
      & .info .inner { opacity: 1; }
    }
  }
}
