#app {
  @media(max-width: 377px) { display: none }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

// NOTIFICATION BR
.jump {
  display: none;
  @media (min-width: 575px) and (max-width: 1200px) { display: block }
}

// CARROUSEL
.owl-carousel.owl-theme.owl-loaded { z-index: 0 }

button { 
  font-family: 'Raleway', Arial, Helvetica, sans-serif;

  &[disabled] {
    pointer-events: none;
    filter: contrast(.5);
    opacity: .7;
  }
}

// SKELETONS
.skeleton-image svg {
  min-height: 163px;
  aspect-ratio: 12/6;
}

.skeleton-effect-wave {
  mask-image: linear-gradient(
    to right, 
    transparent 0%, 
    black 100%, 
    black 0%, 
    transparent 100%
  ) !important;
}

.is-affixed .profile-list {
  margin-top: 0;
}

.scroll-down .actions {
  @media(max-width: 700px) {
    border-top: 1px solid transparent !important;
  }
}

// FORMS
.form-control {
  margin-bottom: 1.6rem;
  position: relative;

  & label {
    display: inline-block;
    margin-bottom: 1px;
    position: relative;
    top: -5px;
  }
}