<app-sticky-aside [selector]="'profile-settings-content'">
  <p>Personaliza tu experiencia dentro de la aplicación. 
    Queremos que estés agusto mientras estás aquí.
  </p>
  <p>
    Recuerda que esta configuración está ligada al navegador y no tanto a tu cuenta.
    Lo que quiere decir que si inicias sesión en otro navegador o dispositivo, puede 
    que la configuración se pierda.
  </p>
  <p>
    No te preocupes, no guardamos información personal de ningún usuario, solamente la que este mismo brinda.
    Para poder ofrecer una mejor experiencia, si guardamos la información que puedes elegir.
  </p>
</app-sticky-aside>
