.min-width {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--light-color);
  place-items: center;
  display: none;
  z-index: 9999;
  padding: 2rem;
  pointer-events: none;

  & h2 {
    font-size: 7.5vw;
    position: relative;
    top: -1rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 10vw;
    font-weight: normal;
    color: var(--dark-color);
    & span { font-size: inherit !important }
  }

  & p {
    font-size: 5vw;
    color: var(--contrast-color);
    font-weight: bold;
    text-align: center;
  }

  @media(max-width: 377px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
