button { margin: 1.5rem auto }

.form-control {
  margin-bottom: 1.2rem;
  position: relative;

  &:nth-child(3) { margin-bottom: 2.6rem }

  &.checkbox {
    margin-top: 3rem;
    margin-bottom: -8px;
  }

  & label[for="notify"],
    label[for="conditions"] {
    font-size: .8rem;
  }
}
