@import 'mixins/mixins.scss';

button {
  @include hover-button();
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  margin: 1.5rem auto;

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
}

input[type="checkbox"] {
  position: relative;
  left: 14px;
  top: 2px;
  margin-top: .8rem;
  cursor: pointer;
}

.form-control {
  margin-bottom: 1.2rem;
  position: relative;

  &:nth-child(3) {
    margin-bottom: 2.6rem;
  }

  &.checkbox {
    margin-top: 3rem;
    margin-bottom: -2px;
  }

  & label[for="notify"],
    label[for="conditions"]  {
    font-size: .8rem;
  }
}

.bottom {
  text-align: center;

  & p {
    font-size: 12px;
    line-height: 20px;
  }

  & strong {
    color: var(--contrast-color);
  }

  & strong {
    cursor: pointer;
    &:hover { filter: brightness(1.2); }
  }

}
