@import 'mixins/mixins.scss';

.search-bar {
  @include container();
  @include row();
  display: grid;
  place-content: center;
  grid-template-columns: 1fr auto;
  padding-top: 2rem;
}

.wrapper {
  position: fixed;
  display: flex;
  padding: 1rem;
  left: 0;
  top: -2rem;
  width: 100%;
  height: calc(var(--header-height) + 2rem);
  background: var(--light-color);
  z-index: 999;
  box-shadow: 0 0 3px 1px var(--shadow-color);
}

.search-input {
  width: 106%;
  text-align: center;
  transition: width 666ms ease-in-out;
  & input { width: 50%; }

  & i {
    font-size: 1rem;
    color: var(--primary-color);
    position: relative;
    top: 1px;
    left: -24px;
  }

  & button {
    margin-left: 24px;
    padding: 4px 12px;
    border: 1px solid var(--dark-color);
    font-weight: 500;
    color: var(--light-color);
    background: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    height: 100%;
    position: relative;
    top: -1px;

    &[disabled] { opacity: .3; }
    @include hover(1.2);
  }

  @media(max-width: 900px) { width: 108%; }
  @media(max-width: 550px) { width: 100%; }
}

.close {
  & i {
    position: relative;
    top: 4.5px;
    left: -8px;
    font-size: 1.2rem;
    @include hover(1.5);

    @media (min-width: 993px) and 
           (max-width: 1200px) { left: -4px }

    @media(max-width: 992px) and 
          (min-width: 881px) { left: -2px }

    @media(max-width: 880px) { left: 8px }
  }
}
