// RESPONSIVE CONTAINER
@mixin container() {
  width: 100%;
  @media (min-width: 865px) { width: 850px }
  @media (min-width: 993px) { width: 970px }
  @media (min-width: 1201px) { width: 1170px }
}

// CENTER CONTENT
@mixin row() {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// LEFT COLUMN
@mixin grid-component() {
  padding-right: 40px;
  grid-column: 1 / 4;

  @media(max-width: 992px) {
    grid-column: 1 / -1;
    padding-right: 0;
  }
}

// RIGHT COLUMN
@mixin grid-child() {
  @media(max-width: 992px) { grid-column: 1 / -1 }
}

// INVERTED COLUMN
@mixin grid-inverted() {
  padding-left: 30px;
  grid-column: 2 / -1;

  @media(max-width: 1200px) { grid-column: 2 / 4 }

  @media(max-width: 992px) {
    grid-column: 1 / -1;
    padding-left: 0;
  }
}

// FLEX CENTER
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// FLEX BETWEEN
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// FLEX AROUND
@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// FLEX AROUND
@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// HORIZONTAL BAR
@mixin hbar() {
  &::before {
    content: '';
    position: absolute;
    top: -3rem;
    width: 100%;
    border-top: 1px solid var(--border-color);
  }
}

// CARD
@mixin shadow-card() {
  box-shadow: 0 4px 8px rgba(0,0,0,0.16), 0 4px 8px rgba(0,0,0,0.23);
  outline: none;

  &:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.25), 0 5px 8px rgba(0,0,0,0.22);
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@mixin skeleton() {
  opacity: .7;
  background: linear-gradient(110deg, var(--skeleton-color) 8%, #dcdcdceb 18%, var(--skeleton-color) 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}