@import 'mixins/mixins.scss';

.notification {
  width: 100%;
  margin: 36px 0 35px;
  background: #fffce8;
  padding: 15px 22px;
  transition: background 666ms ease-in-out;
  display: grid;
  grid-template-columns: repeat(3, auto);

  & .title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h2 {
      color: #424242;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5;
      margin: 0;
      font-size: 17px;

      & i {
        position: relative;
        top: 1px;
        right: -14px;
        color: #090b0e;
        font-size: 15px;
        cursor: pointer;

        @media(min-width: 993px) { display: none; }
        @media(max-width: 550px) { right: -8px; }

        &::after {
          content: attr(data-tooltip);
          background: var(--dark-color);
          position: absolute;
          width: 250px;
          padding: 10px 8px;
          text-align: center;
          top: -85px;
          right: -132.5px;
          opacity: 0;
          border: 1px solid var(--border-color);
          font-weight: normal;
          color: var(--light-color);
          transition: opacity 300ms ease-in-out;
          font-size: 13px;
          font-family: 'Raleway', Arial, Helvetica, sans-serif;
          z-index: 10;
        }

        &:hover {
          &::after { opacity: .9; }
        }

        @media(max-width: 460px) {
          right: -26px;
          top: -26px;
        }
      }
    }

    & p { 
      text-transform: capitalize;
      color: var(--button-text-color);
    }
    
    @media(max-width: 992px) {
      & h2 { font-size: 16px; }
      & p { font-size: 12px; }
    }

    @media(max-width: 525px) {
      & h2 { font-size: 14px; }
      & p { font-size: 11px; }
    }

    @media(max-width: 460px) {
      padding-right: 30%;
    }

    @media(max-width: 400px) {
      padding-right: 18%;
    }
  }

  & .info {
    max-width: 65%;
    margin: auto;
    font-size: .75rem;
    opacity: .9;
    text-align: center;
    line-height: 13px;
    color: var(--button-text-color);
    @media(min-width: 1201px) { padding: 0 30px; }
    @media(max-width: 992px) { display: none; }
  }

  & .submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & button {
      @include hover-button();
      transition: all 333ms ease-in-out;
      background: #090b0e;
      color: #ffffff;

      &:hover {
        background: var(--contrast-color);
        color: var(--light-color);
        cursor: pointer;
      }
    }
  }

  @media(max-width: 992px) { grid-template-columns: repeat(2, auto); }
}
