<app-sticky-aside [selector]="'draft-content'">
  @defer(when draft) {
    <div class="draft-status">
      <h1>Estado del boceto</h1>
      <p>
        A continuación se muestran las <strong>condiciones</strong> que debe
        seguir el boceto para que se convierta en <b>artículo</b>, una vez con eso, podrá ser visto, leido y disfrutado por todo el mundo.
        Se paciente, la comprobación está en camino.
      </p>
      @if(check.length > 0) {
        @for(stat of status; track stat.name; let i = $index) {
          <div class="item">
            <!-- CHECKBOX -->
            <div class="form-control"
                 [ngClass]="{'valid': check[i].ok}">
                 @if(check[i].ok) {<i class="fas fa-check"></i>} 
                 @else {<i class="fas fa-times"></i>}
              <span [innerHTML]="stat.hint"></span>
              @if(!check[i].ok && check[i].cause) {
                <p class="cause"><strong>Administrador:</strong> {{check[i].cause}}</p>
              }
            </div>
          </div>
        }
        <div class="item">
          <div class="form-control"
               [ngClass]="{'valid': check[4].ok}">
               @if(check[4].ok) {<i class="fas fa-check"></i>} 
               @else {<i class="fas fa-times"></i>}
            <span [innerHTML]="'El boceto tiene un mensaje correcto.'"></span>
            @if(!check[4].ok && check[4].cause) {
              <p class="cause"><strong>Administrador:</strong> {{check[4].cause}}</p>
            }
          </div>
        </div>
      }
      <div class="progress">
        <mat-progress-bar mode="determinate" [value]="progress"/>
        {{progress + '%'}}
      </div>
    </div>
  }
</app-sticky-aside>