<div class="wrapper animated bounceInDown"
     id="search-bar">
  <div class="search-bar">
    <div class="search-input">
      <i class="fas fa-search"></i>
      <input type="text"
             [(ngModel)]="value"
             [placeholder]="placeholder"
             id="search-input"/>
      <button [disabled]="!value">Buscar</button>
    </div>
    <div class="close">
      <span (click)="close()">
        <i class="far fa-times-circle"></i>
      </span>
    </div>
  </div>
</div>

<div class="backdrop" (click)="close()"></div>
