@import 'mixins/mixins.scss';

.search-bar {
  @include container();
  @include row();
  width: 100%;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr auto;
  padding-top: 2rem;
}

.wrapper {
  position: absolute;
  display: flex;
  padding: 1rem;
  left: 0;
  top: -2rem;
  width: 100%;
  height: calc(var(--header-height) + 2rem);
  background: var(--light-color);
}

.backdrop {
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: calc(100vh - var(--header-height));
  z-index: -1;
}

.search-input {
  width: 100%;
  text-align: center;

  input {
    width: 50%;
    border: 0;
    color: var(--text-color);
    outline: none;
    font-size: .9rem;
    padding: 5px 12px;
    border-radius: 5px;
    background: var(--input-bg);
  }

  & i {
    font-size: 1rem;
    color: var(--primary-color);
    position: relative;
    top: 1px;
    left: -24px;
  }

  & button {
    margin-left: 24px;
    padding: 4px 12px;
    border: 1px solid var(--dark-color);
    font-weight: 500;
    color: var(--dark-color);
    background: var(--light-color);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 5px;

    &[disabled] {
      opacity: .3;
    }

    &:hover {
      background: var(--primary-color);
      color: var(--light-color);
    }
  }
}

.close {
  & i {
    position: relative;
    top: 3px;
    left: -8px;
    font-size: 1.2rem;
    @include hover(1.5);
  }
}
