@import 'mixins/mixins.scss';

li {
  padding: 12px 0 8px 0;
  cursor: pointer;
  position: relative;
  opacity: .5;
  @include flex-start();
  gap: 1rem;

  & > div {
    overflow: hidden;
  }

  &.active {
    opacity: 1;
    & h3 { font-weight: bold; }
  }

  & h3 { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 26px;
    font-size: 15px;
  }

  & .info {
    font-size: 11px;
    font-style: italic;
    position: relative;
    line-height: 14px;

    & .category { color: var(--contrast-color); }
  }

  @media(max-width: 450px) {
    margin-top: 0;
  }
}


