@import 'mixins/mixins.scss';

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  position: relative;
  @include carrousel-fix();
  &-margin {  margin-top: calc(4rem - 1px); }
}
