<div class="animated fadeIn">
  <!-- HOME HEADER -->
  <ng-container *ngIf="show">
    <section>
      <app-main-post></app-main-post>
      <app-action-bar [text]="text"
                      buttonText="Subscríbete"
                      (function)="notification()">
      </app-action-bar>
    </section>
    <!-- CARROUSEL -->
    <section>
      <app-post-carrousel></app-post-carrousel>
    </section>
    <!-- STICKY GRID-->
    <section class="home-content">
      <app-section>
        <app-home-content id="sticky-wrapper"></app-home-content>
        <app-home-sidebar></app-home-sidebar>
      </app-section>
    </section>
  </ng-container>
</div>
