<div class="wrapper">
  <figure> <!-- IMAGE -->
    <img src="assets/images/0111-img.jpg" alt="Post Image"/>
  </figure>
  <div class="content animated fadeIn">
    <!-- HOVER -->
    <div class="inner">
      <h2>Marian Smith</h2>
      <p class="role">Frontend Designer</p>
      <div class="data">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
          Quis sapiente laborum, iure quod veritatis.
        </p>
        <ul>
          <li>
            <span><i class="fas fa-pencil-alt"></i> 24</span>
          </li>
          <li>
            <span><i class="far fa-heart"></i> 127</span>
          </li>
          <li>
            <span><i class="fas fa-users"></i> 432</span>
          </li>
        </ul>
        <div class="actions">
          <button>Contacto</button>
          <button>Mensaje</button>
        </div>
      </div>
    </div>
  </div>
</div>
