<div class="wrapper" *ngIf="user">
  <figure> <!-- IMAGE -->
    <img src="assets/images/0111-img.jpg" alt="Post Image"/>
  </figure>
  <div class="content animated fadeIn">
    <!-- HOVER -->
    <div class="inner">
      <h2>{{user.name}}</h2>
      <p class="role">{{user.profesion}}</p>
      <div class="data">
        <p>{{user.bio}}</p>
        <ul>
          <li *ngFor="let i of list">
            <span>
              <i [class]="i.icon"></i> {{user.stats[i.label]}}
            </span>
          </li>
        </ul>
        <div class="actions">
          <button>Portfolio</button>
          <button>Mensaje</button>
        </div>
      </div>
    </div>
  </div>
</div>
