@import 'mixins/mixins.scss';

.wrapper {
    overflow: hidden;
    position: relative;
    margin-top: .666rem;
  
    & figure {
      & img {
        display: block;
        width: 100%;
        height: auto;
        z-index: 1;
        max-width: 100%;
        border: 0;
        border: 1px solid transparent;
      }
    }
  
    & .content {
      position: absolute;
      top: 0;
      left: 33.33%;
      width: 33.33%;
      height: 100%;
      padding: 0 30px 0 30px;
      background: var(--transparent-bg);
      border: 1px solid transparent;
      transition: background 666ms ease-in-out,
                  border 666ms ease-in-out,
                  left 333ms ease-in-out,
                  width 333ms ease-in-out;
  
      & .inner {
        height: 100%;
        width: 100%;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & p {
          text-align: center;
          overflow: hidden;
          font: normal 12px/15px 'Merriweather', Arial, Helvetica;
          display: inline-block;
          position: relative;
          font-style: italic;
          color: var(--text-color);
          padding: 0;
          opacity: .8;
          line-height: inherit;
          vertical-align: middle;

          &.role {
            margin-top: 6px;
            opacity: 1;
            font-weight: bold;
            font-style: italic;
            margin-bottom: 25px;
            width: 100%;
            font-size: .8rem;
          }
        }

        & h2 {
          margin: 0;
          @include main-title();
          color: var(--contrast-color);
          transition: font-size 300ms ease-in;
          transition: color, border 666ms ease-in;
          letter-spacing: 2px;
          margin: 0 0 16px;
        }

        & .data {
          position: relative;
          width: 100%;

          & ul {
            margin: 25px 0 0;
            padding: 0 10px;
            display: flex;
            justify-content: center;
            list-style-type: none;

            & li {
              padding: 0 15px;
              display: flex;
              flex-direction: column;
              align-items: center;

              & span {
                filter: contrast(1.8);
                font-size: 16px;
                margin-top: 5px;
                position: relative;

                & i { 
                  padding-right: 5px;
                  position: relative;
                  font-size: 14px;
                  top: 1px;
                }
              }
            }
          }

          & .actions {
            display: flex;
            margin: 35px 0 0 0;
            padding: 0 10px;

            & button {
              width: 100%;
              @include hover-button();
              background: var(--contrast-color);
              border: 1px solid transparent;
              transition: all 333ms ease-in-out;
              
              &:hover { 
                filter: brightness(1.2);
                border: 1px solid var(--dark-color);
              }

              &:first-of-type {
                background: transparent;
                border: 1px solid var(--dark-color);
                color: var(--dark-color);
  
                &:hover {
                  border: 1px solid var(--contrast-color);
                }
              }
            }
          }
        }
      }

      @media(max-width: 1200px) {
        left: 26%;
        width: 48%;
      }
  
      @media(max-width: 720px) {
        top: auto;
        bottom: 0;
        left: 21%;
        width: 58%;
        height: 100%;
      }

      @media(max-width: 640px) {
        left: 15%;
        width: 70%;
      }

      @media(max-width: 550px) {
        left: 0;
        width: 100%;
        height: 76%;
        top: 12%;
        bottom: 12%;
      }
    }
  
    &:hover {
      cursor: pointer;
      figure img { opacity: .8 }
  
      & .content {
        background: var(--light-color);
  
        @media(max-width: 720px) {
          border: 1px solid var(--border-color);
        }

        & .inner {
          & h2 {
            border-top: 2px solid var(--border-color);
          }
        }
      }
    }
  }

@media (max-width: 1200px) {
  .wrapper {
    & .content {
      & .inner {
        & h2 { font-size: 26px }
        & p { line-height: 20px }

        & .data {
          & ul { margin: 18px 0 0 }

          & .actions {
            margin: 28px 0 0 0;
            & button { padding: 8px }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .wrapper {
    & .content {
      & .inner {
        & h2 { font-size: 24px }
      }
    }

    & figure {
      & img {
        width: initial;
        max-width: initial;
      }
    }
  }
}

@media (max-width: 850px) {
  .wrapper {
    & .content { padding: 0 30px 0 30px }
  }
}
  
  