@import 'mixins/mixins.scss';

.wrapper {
    overflow: hidden;
    position: relative;
    margin-top: .666rem;
  
    & figure {
      & img {
        display: block;
        width: 100%;
        height: auto;
        z-index: 1;
        max-width: 100%;
        border: 0;
        border: 1px solid transparent;
      }
    }
  
    & .content {
      position: absolute;
      top: 0;
      left: 33.33%;
      width: 33.33%;
      height: 100%;
      padding: 0 30px 0 30px;
      background: var(--transparent-bg);
      transition: background 666ms ease-in-out,
                  border 666ms ease-in-out;
      border: 1px solid transparent;
  
      & .inner {
        height: 100%;
        width: 100%;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & p {
          text-align: center;
          overflow: hidden;
          font: normal 12px/15px 'Merriweather', Arial, Helvetica;
          display: inline-block;
          position: relative;
          font-style: italic;
          color: var(--text-color);
          padding: 0;
          line-height: inherit;
          opacity: .8;
          vertical-align: middle;

          &.role {
            margin-top: 6px;
            opacity: 1;
            font-weight: bold;
            font-style: italic;
            margin-bottom: 25px;
            width: 100%;
          }
        }

        & h2 {
          @include main-title();
          color: var(--contrast-color);
          margin: 0;
        }

        & .data {
          position: relative;
          width: 100%;

          & ul {
            margin: 25px 0 0;
            padding: 0 10px;
            display: flex;
            justify-content: center;
            list-style-type: none;

            & li {
              padding: 0 15px;
              display: flex;
              flex-direction: column;
              align-items: center;

              & span {
                filter: contrast(1.8);
                font-size: 16px;
                margin-top: 5px;
                position: relative;

                & i { 
                  padding-right: 5px;
                  position: relative;
                  font-size: 14px;
                  top: 1px;
                }
              }
            }
          }

          & .actions {
            display: flex;
            margin: 35px 0 0 0;
            padding: 0 10px;

            & button {
              width: 100%;
              @include hover-button();
              background: var(--contrast-color);
              border: 1px solid transparent;
              transition: 100ms ease-in-out;
              
              &:hover { 
                filter: brightness(1.2);
                border: 1px solid var(--dark-color);
              }

              &:first-of-type {
                background: transparent;
                border: 1px solid var(--dark-color);
                color: var(--dark-color);
  
                &:hover {
                  border: 1px solid var(--contrast-color);
                }
              }
            }
          }
        }
      }
  
      @media(max-width: 993px) and (min-width: 731px) {
        left: 30%;
        width: 40%;
      }
  
      @media(max-width: 730px) {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 10px;
  
        & .inner {
          & h2 { margin: 0 0 12px; }
        }
      }
  
      @media(max-width: 475px) { height: 100%; }
    }
  
    &:hover {
      cursor: pointer;
      figure img { opacity: .8; }
  
      & .content {
        background: var(--light-color);
  
        @media(max-width: 730px) {
          border-top: 1px solid transparent;
          border-left: 1px solid var(--border-color);
          border-right: 1px solid var(--border-color);
        }

        & .inner {
          & h2 {
            border-top: 2px solid var(--border-color);
          }
        }
      }
    }
  }
  
  