<div class="content animated fadeIn">
  <app-content-search [type]="searchType.POST"/>
  @if({
    items: items$ | async,
    favorites: favoritesID$ | async
  }; as obs) {
    @for(item of obs.items; track item._id; let last = $last) {
      <app-post-card  [small]="true"
                      [border]="false"
                      [last]="last"
                      [post]="item"
                      [alone]="false"
                      [favoritesID]="obs.favorites"/>
    } @empty {
      <p>No se han encontrado artículos.</p>
    }
  } 
  @else {
    @for(card of [1,2,3,4]; track card; let last = $last) {
      <app-post-card-skeleton [small]="true" [showIntro]="false" [last]="last"/>
    }
  }
</div>




