<ng-container *ngIf="post">
  <article class="default"
           [ngClass]="{
             'alone': alone, 
             'small': small, 
             'last': last
            }">
    <figure>
      <img [src]="post.cover"
           [routerLink]="isDraft ? '/draft/' + post.slug : null"
           alt="Post Image"
           #img (error)="img.src = 'assets/images/placeholder.png'" img.alt='No Image'/>
      <!-- HOVER -->
      <ng-container *ngIf="!isDraft && !alone">
        <div class="inner">
          <div class="content">
            <span (click)="share()"><i class="fas fa-link"></i></span>
            <span [routerLink]="'/post/' + post.slug">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
      </ng-container>
    </figure>
    <!-- CONTENT -->
    <div class="main-content">
      <p class="category">{{post.category}}</p>
      <h3 [routerLink]="isDraft ? ('/draft/' + post.slug) : ('/post/' + post.slug)">{{post.title}}</h3>
      <p class="date" *ngIf="!small">
         <!-- DRAFT STATUS -->
        <ng-container *ngIf="isDraft"> 
          <span [class]="post.status">{{post.status | draftStatus}} </span>
          <span class="tale">-</span>
        </ng-container>
        <span>{{post.created}}</span>
      </p>
      <!-- INTRO -->
      <ng-container *ngIf="!alone; else isAlone">
        <div [ngClass]="{'intro': !!post.intro}" 
             [innerHTML]="post.intro | shortMessage: alone : small : showIntro">
        </div>
      </ng-container>
      <!-- FULL MESSAGE -->
      <ng-template #isAlone>
        <div class="alone-intro" [innerHTML]="post.intro | shortMessage: alone"></div>
        <quill-view [content]="post.message" class="alone"></quill-view>
      </ng-template>
      <!-- BOTTOM -->
      <div class="bottom"
           [ngClass]="{'first': border}">
        <div *ngIf="small">
          <!-- DRAFT STATUS -->
          <p class="date">
            <ng-container *ngIf="isDraft"> 
              <span [class]="post.status">{{post.status | draftStatus}} </span>
              <span class="tale">-</span>
            </ng-container>
            <span>{{post.created}}</span>
          </p>
          <span class="author">{{post.author}}</span>
        </div>
        <span *ngIf="!small" class="author">{{post.author}}</span>
        <!-- ICONS -->
        <ul [ngClass]="{'small': small}">
          <!-- POST ICONS -->
          <ng-container *ngIf="!isDraft; else draftIcon">
            <li *ngIf="alone" (click)="share()"><i class="fas fa-link"></i></li>
            <li (click)="editPost()" *ngIf="post.user === user?._id">
              <i class="fas fa-pen-fancy"></i>
            </li>
            <li *ngFor="let i of postIcons"
                (click)="switchObjPost[i.action]()">
              <i [class]="i.icon"></i>
            </li>
            <li>
              <ng-container *ngIf="favoritesID.includes(post._id); else noFavorite">
                <i class="fas fa-star favorite" (click)="removeFavorite()"></i>
              </ng-container>
              <ng-template #noFavorite>
                <i class="far fa-star" (click)="favorite()"></i>
              </ng-template>
            </li>
          </ng-container>
          <!-- DRAFT ICONS -->
          <ng-template #draftIcon>
            <li *ngFor="let i of draftIcons"
                (click)="switchObjDraft[i.action]()">
              <i [class]="i.icon"
                 [matTooltip]="i.label"
                 [ngClass]="{'disabled': i.action === 'edit' && post.status === 'pending'}">
              </i>
            </li>
            <li>
              <ng-container *ngIf="favoritesID?.includes(post._id); else noFavorite">
                <i class="fas fa-star favorite" (click)="removeFavorite()"></i>
              </ng-container>
              <ng-template #noFavorite>
                <i class="far fa-star" (click)="favorite()"></i>
              </ng-template>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </article>
</ng-container>
