@import 'mixins/mixins.scss';

article {
  overflow: hidden;
  margin-bottom: 40px;

  & figure {
    overflow: hidden;
    margin: 0 0 40px;
    position: relative;
    transition: all 300ms ease-in-out;

    & img {
      display: block;
      position: relative;
      z-index: 1;
      max-width: 100%;
      border: 0;
    }

    & .inner {
      left: 0;
      top: 0;
      opacity: 0;
      width: 100%;
      padding: 20px;
      height: 100%;
      position: absolute;
      visibility: hidden;
      z-index: 2;
      transition: all 300ms ease-in-out;

      & .content {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid #fff;

        & span {
          width: 60px;
          height: 60px;
          color: var(--text-color);
          background: var(--transparent-bg);
          display: block;
          text-align: center;
          position: absolute;
          top: 20%;
          left: auto;
          right: 50%;
          margin: -30px -62px 0 0;
          border: 1px solid var(--border-color);
          transition: all 300ms ease-in-out;
          @include hover(1.5);

          &:first-child {
            top: 80%;
            left: 50%;
            margin: -30px 0 0 -62px;
          }

          & i {
            display: block;
            line-height: 60px;
            font-size: 25px;
            text-align: center;
          }
        }
      }
    }

    &:hover {
      cursor: pointer;
      & .inner {
        visibility: visible;
        opacity: 1;
        z-index: 2;

        & .content span {
          top: 50%;
        }
      }
    }
  }

  & .main-content {
    overflow: hidden;
    text-align: center;
    position: relative;

    & .category {
      text-align: center;
      overflow: hidden;
      padding: 0 0 20px;
      font-style: italic;
      font-family: 'Merriweather', Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      opacity: .9;
      transition: all 300ms ease-in-out;
      color: var(--contrast-color);
      cursor: pointer;
    }

    & h3 {
      text-transform: uppercase;
      margin: 0 0 20px;
      line-height: 22px;
      font-size: 22px;
      transition: all 300ms ease-in-out;

      &:hover {
        cursor: pointer;
        font-weight: bold;
        filter: brightness(1.5);
      }
    }

    & .date {
      color: #888;
      text-align: center;
      overflow: hidden;
      padding: 0 0 20px;
      font-style: italic;
      font: 'Merriweather', Arial, Helvetica, sans-serif;

      & span {
        padding: 0 10px;
        position: relative;
        font-size: 12px;
        @include hr-title();
      }
    }

    & .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      transition: border-bottom 666ms ease-in-out;
      margin-top: 1rem;
      padding: 0 0 20px;
      &-border { border-bottom: 1px solid var(--border-color); }

      & ul {
        position: relative;
        left: -8px;

        & li {
          display: inline-block;
          width: 32px;
          list-style: none;

          & i {
            display: block;
            height: 15px;
            line-height: 15px;
            text-align: center;
            @include hover(1.5);
          }
        }
      }

      & .author {
        color: var(--text-color);
        text-align: center;
        overflow: hidden;
        padding: 0;
        font-style: italic;
        font-family: 'Merriweather', Arial, Helvetica, sans-serif;
        font-size: 12px;
      }
    }
  }

// SMALL CARD
  &.small {
    display: grid;
    grid-template-columns: 42% 1fr;
    gap: 20px;
    margin-bottom: 30px;

    @media (max-width: 1200px) {
      grid-template-columns: 49% 1fr;
    }

    @media (max-width: 750px) {
      grid-template-columns: 1fr;
    }

    &.last {
      margin-bottom: 40px;
    }
    
    & figure {
      margin: 0;

      & .inner .content span {
        width: 40px;
        height: 40px;
        right: 56%;

        &:first-child {
          left: 56%;
        }

        & i {
          line-height: 40px;
          font-size: 20px;
        }
      }

      & img {
        height: 100%;
      }
    }

    & .main-content {
      & .date {
        text-align: left;
        padding: 0 0 10px;

        @media (max-width: 1200px) {
          padding: 0;
        }

        & span {
          padding-left: 0;
        }
      }

      & .category {
        @media (max-width: 1200px) {
          padding: 0 0 10px;
        }
      }

      & h3, & .category {
        text-align: left;
      }

      & h3 {
        font-size: 20px;

        @media (max-width: 1200px) {
          font-size: 18px;
        }
      }

      & .bottom {
        padding: 0;
        position: absolute;
        bottom: 2px;
        width: 100%;

        @media (max-width: 1200px) and (min-width: 992px) {
          top: 0;
          position: relative;
        }

        @media (max-width: 750px) {
          top: 0;
          position: relative;
        }
      }
    }
  }
}
