<ng-container *ngIf="post">
  <article class="default"
           [ngClass]="{
             'alone': alone, 
             'small': small, 
             'last': last
            }">
    <figure>
      <img [src]="!draft ? (post.cover | image) : post.cover" 
           alt="Post Image"
           #img (error)="img.src = 'assets/images/placeholder.png'"/>
      <!-- HOVER -->
      <ng-container *ngIf="!draft">
        <div class="inner">
          <div class="content">
            <span><i class="fas fa-link"></i></span>
            <span [routerLink]="'/post'">
              <i [class]="alone ? 'far fa-heart' : 'fas fa-search'"></i>
            </span>
          </div>
        </div>
      </ng-container>
    </figure>
    <!-- CONTENT -->
    <div class="main-content">
      <p class="category">{{post.category}}</p>
      <h3>{{post.title}}</h3>
      <p class="date" *ngIf="!small">
         <!-- DRAFT STATUS -->
        <ng-container *ngIf="draft"> 
          <span [class]="post.status">{{post.status | draftStatus}} </span>
          <span class="tale">-</span>
        </ng-container>
        <span>{{post.created}}</span>
      </p>
      <!-- MESSAGE -->
      <ng-container *ngIf="!alone; else isAlone">
        <div [ngClass]="{'intro': post.intro}" [innerHTML]="post.intro | shortMessage: alone : small : showIntro"></div>
      </ng-container>
      <ng-template #isAlone>
        <quill-view [content]="post.message" class="alone"></quill-view>
      </ng-template>
      <!-- BOTTOM -->
      <div class="bottom"
           [ngClass]="{'first': border}">
        <div *ngIf="small">
          <!-- DRAFT STATUS -->
          <p class="date">
            <ng-container *ngIf="draft"> 
              <span [class]="post.status">{{post.status | draftStatus}} </span>
              <span class="tale">-</span>
            </ng-container>
            <span>{{post.created}}</span>
          </p>
          <span class="author">{{post.author}}</span>
        </div>
        <span *ngIf="!small" class="author">{{post.author}}</span>
        <ul [ngClass]="{'small': small}">
          <ng-container *ngIf="!draft; else draftIcon">
            <li *ngFor="let i of postIcons"
                (click)="switchObjPost[i.action]()">
              <i [class]="i.icon"></i>
            </li>
            <li>
              <ng-container *ngIf="favoritesID.includes(post._id); else noFavorite">
                <i class="fas fa-star favorite" (click)="removeFavorite()"></i>
              </ng-container>
              <ng-template #noFavorite>
                <i class="far fa-star" (click)="favorite()"></i>
              </ng-template>
            </li>
          </ng-container>
          <ng-template #draftIcon>
            <li *ngFor="let i of draftIcons"
                (click)="switchObjDraft[i.action]()">
              <i [class]="i.icon"
                 [matTooltip]="i.label">
              </i>
            </li>
            <li>
              <ng-container *ngIf="favoritesID?.includes(post._id); else noFavorite">
                <i class="fas fa-star favorite" (click)="removeFavorite()"></i>
              </ng-container>
              <ng-template #noFavorite>
                <i class="far fa-star" (click)="favorite()"></i>
              </ng-template>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </article>
</ng-container>
