<div *ngIf="control.invalid && control.dirty" class="form-error">
    <!-- MIN LENGTH -->
    <span *ngIf="validator.includes('minlength') && 
                 control.errors?.minlength">
      Tamaño mínimo:
      <strong>{{control.errors?.minlength.requiredLength}}</strong>
    </span>
    <!-- REQUIRED -->
    <span *ngIf="validator.includes('required') && 
                 control.errors?.required">
      Campo requerido
    </span>
    <!-- PATTERN -->
    <span *ngIf="validator.includes('pattern') && 
                 control.errors?.pattern">
      Fórmato no válido
    </span>
    <!-- EMAIL -->
    <span *ngIf="validator.includes('email') && 
                 control.errors?.email">
      Fórmato email no válido
    </span>

    <!-- PASSWORD -->
    <span *ngIf="validator.includes('passwordMatch') && 
                 control.errors?.passwordMatch">
      La contraseña no coincide
    </span>
</div>
