.form-error {
  color: #ff4747;
  position: absolute;
  right: 0;
  margin-top: 3px;

  & span {
    display: block;
    font-size: 0.7rem !important;
    line-height: 18px;
    text-align: right;

    & strong {
      position: relative;
      top: -1px;
    }
  }
}
