<app-sticky-aside [selector]="'admin-content'">
  <div class="admin-sidebar">
    <h1>Administración</h1>
    <p>
      Como creador, es un placer que estés aquí para ayudar con
      la administración de bocetos, con la ayuda de todos estoy seguro de
      que crearemos un gran comunidad.
    </p>
    <p>
      Tienes el poder para decidir que bocetos entran y cuáles no.
      Si eres administrador es por que eres alguien con criterio, tienes
      debilidad por el buen gusto y diseño, además de saber bastante
      de al menos un tema en concreto.
    </p>
    <h1>Cómo funciona</h1>
    <p>
      Utiliza la lista para elegir que boceto quieres administrar.
      Para que un boceto sea aprobado deberá cumplir
      una serie de requisitos que tú como administrador seguro ya sabes.
    </p>
    <p>
      Utiliza tu criterio para determinar que requisitos cumple.
      Obviamente para saber esto hay que informarse sobre el boceto primero,
      leerlo por encima y decidir en base a ello.
    </p>
  </div>
</app-sticky-aside>