.admin-sidebar {
  & h1 {
    font-size: 17px;
    margin-bottom: 1rem;
  }

  & p {
    margin-bottom: 1rem;
    font-size: 13px;

    &:last-child {
      margin-bottom: 0;
    }

    & + h1 {
      margin-top: 2rem;
    }
  }
}