@import 'mixins/mixins.scss';

.list {
  text-align: center;
  margin-bottom: 4rem;
  padding-bottom: 1rem;

  & h4 {
    position: relative;
    overflow: hidden;
    font-size: 18px;
    margin: 0 0 26px;
    line-height: normal;
    @include span-hr-title();
  }

  & ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
      overflow: hidden;
      list-style: none;
      padding: 5px;
      border-top: 1px solid var(--border-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 666ms ease-in-out;
      font-weight: normal;

      &:first-child {
        padding-top: 0;
        border: 0;
      }

      &:hover {
        cursor: pointer;
        filter: brightness(1.5);
        font-weight: bold;
      }
    }
  }
}
