<app-sticky-aside [selector]="selector">
  <ng-container *ngIf="user">
    <div class="user-card">
      <div class="info">
        <div class="title">
          <!-- INFO -->
          <div>
            <h1>{{user.name}}</h1>
            <div class="flex">
              <img [src]="user.avatar">
              <div class="profesion">
                <p *ngIf="user.profile?.role">{{user.profile?.role}}</p>
                <p>{{user.profile?.location || 'Lugar desconocido'}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- STATS -->
        <ul>
          <li><i class="far fa-newspaper"></i> {{(recentPost$ | async)?.length}}</li>
          <li *ngFor="let s of statsList"><i [class]="s.icon"></i> {{user.stats[s.label]}}</li>
        </ul>
      </div>
      <p class="bio">{{user.profile?.bio}}</p>
      <!-- SOCIAL -->
      <ul class="social">
        <ng-container *ngFor="let s of socialList">
          <li *ngIf="user.profile[s.label] as value">
            <i [class]="s.icon"></i> <a [href]="value" target="_blank">{{value}}</a>
          </li>
        </ng-container>
      </ul>
      <!-- BUTTONS -->
      <ng-container *ngIf="isPublic; else private">
        <ng-container *ngIf="(friends$ | async) as friends">
          <ng-container *ngIf="isUserMyFriend(friends); else add">
            <button class="formatted remove" type="button" (click)="removeFriend()">
              Eliminar de amigo
            </button>
          </ng-container>
          <ng-template #add>
            <button class="formatted" type="button" (click)="addFriend()">
              Añadir
            </button>
          </ng-template>
        </ng-container>
      </ng-container>
      <ng-template #private>
        <button class="formatted" type="button" (click)="edit()">
          Editar
        </button>
      </ng-template>
    </div>
  </ng-container>

  <app-recent-post-box [posts]="recentPost$ | async" [margin]="true" [limit]="3"></app-recent-post-box>
</app-sticky-aside>
