@import 'mixins/mixins.scss';

.recent {
  text-align: center;
  margin-bottom: 40px;
  @media(max-width: 993px) { margin-bottom: 30px; }

  & h4 {
    position: relative;
    overflow: hidden;
    font-size: 18px;
    margin: 0 0 24px;
    line-height: normal;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    & li {
      list-style: none;
      overflow: hidden;
      padding: 15px 0;
      border-top: 1px solid var(--border-color);
      display: flex;
      align-items: center;
      transition: border-top 666ms ease-in-out;

      &:first-child {
        padding-top: 0;
        border: 0;
      }

      & .wrapper {
        overflow: hidden;
        margin-right: 20px;
        width: 75px;
        height: 75px;
      }

      & img {
        transition: all 300ms ease-in-out;
        width: 75px;
        height: 75px;
      }

      & .info {
        text-align: left;
        position: relative;
        top: -2px;

        & h5 {
          color: #424242;
          font-style: normal;
          font-family: 'Raleway', Arial, Helvetica, sans-serif;
          font-weight: 600;
          line-height: 1.5;
          margin: 0px 0px 8px 0px;
          text-transform: capitalize;
          font-size: 16px;
        }

        & span {
          display: block;
          font: 'Merriweather', Arial, Helvetica, sans-serif;
          font-style: italic;
          font-size: 10px;
          line-height: 14px;
        }
      }

      &:hover {
        cursor: pointer;
        & h5 { filter: brightness(1.5); }

        & img {
          opacity: .8;
          transform: scale(1.1);
        }
      }
    }

    @media(min-width: 600px) and (max-width: 992px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;

      & li:nth-child(2) {
        padding-top: 0;
        border: 0;
      }
    }
  }
}

.box {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 250px;
  height: 250px;
  background: var(--transparent-bg);
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  transition: all 666ms ease-in-out;
  @media(max-width: 992px) { display: none; }
}
