@import 'mixins/mixins.scss';

.footer-nav {
  @include container();
  @include row();
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  max-width: 760px;

  @media(max-width: 992px) { max-width: 89% }
  @media(max-width: 550px) { font-size: 13px }

  & .about, & .newsletter {
    h5 {
      color: var(--text-color);
      font-weight: 600;
      line-height: 1.5;
      margin: 0px 0px 8px 0px;
      text-transform: capitalize;
      font-size: 16px;
    }

    & p { margin-bottom: 1.2rem }

    & ul {
      text-align: center;
      padding: 25px 0;
      border-bottom: 0;
      border-top: 0;
      @include flex-center();

      & li {
        display: inline-block;
        width: 39px;
        height: 18px;
        line-height: 28px;
        list-style: disc inside none;

        & i {
          font-size: 1.1rem;
          position: relative;
          top: -4px;
          @include hover(1.5);
        }
      }
    }
  }
}
