<div class="grid" id="grid"
    [ngClass]="{'loaded': isLoaded}">
    <div class="grid-item" *ngFor="let item of items; let i = index">
        <div class="content">
            <div class="inner">
                <img [src]="item.image" 
                      alt="News Image" 
                      loading="lazy"
                      #img
                      (error)="img.src = 'assets/images/placeholder.png'; img.alt='No Image'">
            </div>
            <div class="card">
              <p class="category">{{item.category}}</p>
              <h4>
                <a [href]="item.url" target="_blank">{{item.title}}</a></h4>
              <div class="flex">
                <p class="author">
                  <span>{{item.author}}</span>
                </p>
                <p class="date">
                    <span>{{item.published_at | date}}</span>
                </p>
              </div>
              <p>{{item.description}}</p>
            </div>
        </div>
    </div>
    <ng-container *ngIf="items && items.length === 0">
      <p class="empty">No se han encontrado noticias. Prueba de nuevo más tarde.</p>
    </ng-container>
</div>

<app-spinner [loading]="!isLoaded"></app-spinner>





