:root {
  // COLORS
  --light-color: #ffffff;
  --dark-color: #000000;
  --shadow-color: #d4d4d4;
  --text-color: #424242;
  --primary-color: #272b41;
  --input-bg: rgba(235, 235, 235, .5);

  // SIZE
  --header-height: 48px;
  --text-slide-width: 230px;
}

