:root {
  // COLORS
  --light-color: #f7f3f3;
  --dark-color: #090b0e;
  --shadow-color: #d4d4d4;
  --text-color: #424242;
  --primary-color: #272b41;
  --input-bg: #fffdbd;
  --contrast-color: #001c9b;
  --border-color: #ebebeb;
  --transparent-bg: rgba(255, 255, 255 , 0.85);
  --quote-bg: #fffdbd;
  --navigation-border: #e2e1e1;
  --navbar-border: #484a4a;
  --add-bg: rgba(225, 225, 225, .7);
  --button-text-color: #3b3939;
  --inverted-contrast: #ffe364;
  --error-color: #ee2525;
  --inner-border: #fbfbfb;
  --date-color: #888888;
  --li-hover: #eee8e8;
  --success-color: #4BB543;
  --input-focus: rgba(0, 0, 0, .2);
  --pending-color: #9558b7;
  --action-bar-bg: #e4e0e0;
  --action-bar-text: #666666;

  // SIZE
  --app-width: 369px;
  --header-height: 48px;
  --text-slide-width: 228px; // Change textSliderComponent
  --snack-width: 230px;
  --snack-height: 30px;
  --quill-height: 385px;
}

