:root {
  // COLORS
  --light-color: #f7f3f3;
  --dark-color: #090b0e;
  --shadow-color: #d4d4d4;
  --text-color: #424242;
  --primary-color: #272b41;
  --input-bg: var(--quote-bg);
  --contrast-color: #001c9b;
  --border-color: #ebebeb;
  --transparent-bg: rgba(255, 255, 255 , 0.85);
  --quote-bg: #fffce8;
  --shade-color: #b7b5b5;
  --navigation-border: #e2e1e1;
  --navbar-border: var(--shade-color);
  --add-bg: rgba(225, 225, 225, .7);
  --button-text-color: #3b3939;
  --inverted-contrast: #ffe364;
  --shadow-card-1: rgba(0, 0, 0, 0.12);
  --shadow-card-2: rgba(0, 0, 0, 0.24);
  --shadow-card-hover-1: rgba(0, 0, 0, 0.25);
  --shadow-card-hover-2: rgba(0, 0, 0, 0.22);

  // SIZE
  --app-width: 377px;
  --header-height: 48px;
  --text-slide-width: 228px; // Change textSliderComponent
}

