<div class="content">  <!-- EDITOR -->
  <quill-editor [modules]="quillModules"
                #editor
                (onContentChanged)="stickyFix()"
                [ngModel]="draft ? draft.message : model"
                (onEditorCreated)="show = !show"
                [ngStyle]="{'display': show ? 'block' : 'none'}">
  </quill-editor>
  <div class="toolbar">  <!-- TOOLBAR -->
    <div>
      <ng-container *ngIf="saving$ | async; else saved">
        <i class="fas fa-spinner fa-pulse"></i> 
        <span>Guardando...</span>
      </ng-container>
      <ng-template #saved>
        <i class="fas fa-check"></i>
        <span>Guardado</span>
      </ng-template>
    </div>
    <div>  <!-- ACTIONS -->
      <i *ngFor="let l of list"
          [class]="l.icon"
          [matTooltip]="l.label"
          (click)="action(l.action)">
      </i>
      <i class="fas fa-fast-forward"
         matTooltip="Siguiente"
         (click)="action('next')">
      </i>
    </div>
  </div>
</div>
