<div class="content">
  <quill-editor [modules]="quillModules"
                #editor
                (onContentChanged)="stickyFix()"
                [(ngModel)]="model">
  </quill-editor>
  <div class="toolbar">
    <div>
      <ng-container *ngIf="saving; else saved">
        <i class="fas fa-spinner fa-pulse"></i> 
        <span>Guardando...</span>
      </ng-container>
      <ng-template #saved>
        <i class="fas fa-check"></i>
        <span>Guardado</span>
      </ng-template>
    </div>
    <div>
      <i class="fas fa-plus" matTooltip="Nuevo..."></i>
      <i class="fas fa-trash" matTooltip="Eliminar"></i>
      <i class="fas fa-fast-forward" matTooltip="Siguiente"></i>
    </div>
  </div>
</div>