<div class="animated fadeIn">
  <div class="wrapper">
    <app-action-bar [text]="text" buttonText="Subscríbete" (function)="notification()" [margin]="true">
    </app-action-bar>
  </div>
  <section class="conditions-content">
    <app-section>
      <mat-tab-group animationDuration="0ms" disableRipple class="conditions">
        <mat-tab label="CONDICIONES">
          <div class="conditions animated fadeIn">
            <b class="start">Esta política de condiciones de uso es válida a partir de Mayo 2023.</b>
            <h1>TÉRMINOS Y CONDICIONES<span> - The Formatted Blog</span></h1>
            <p>
              The Formatted Blog, persona jurídica de derecho privado describe, a través de este documento, las normas
              de
              uso del sitio <a href="https://formatted-blog.netlify.app"
                target="_blank">https://formatted-blog.netlify.app</a> y de
              cualquier otro sitio web, tienda o aplicación operada por el titular. Al navegar por este sitio web,
              consideramos que está de acuerdo con las condiciones de uso que figuran a
              continuación. Si no está de acuerdo con los términos de este acuerdo, le pedimos que no haga ningún otro
              uso
              de este sitio web, mucho menos que se registre o envíe sus datos personales. Si cambiamos nuestras
              condiciones de uso,
              publicaremos el nuevo texto en este sitio web, con una fecha de
              revisión actualizada. Podemos modificar este documento en cualquier momento. Si hay un cambio
              significativo en
              los términos de este acuerdo, podemos informarle utilizando la información de
              contacto que tenemos en nuestra base de datos o mediante una notificación.
            </p>
            <p>
              El uso de este sitio web después de los cambios significa que usted acepta las condiciones de uso
              revisadas.
              Si, después de leer la versión revisada, no está de acuerdo con sus términos, por favor, termine su
              acceso.
            </p>

            <h2><span class="bold">Sección 1</span> - Usuario</h2>

            <p>
              El uso de este sitio web le otorga automáticamente la condición de Usuario e implica su plena aceptación
              de
              todas las directrices y condiciones incluidas en estas Condiciones.
            </p>

            <h2><span class="bold">Sección 2</span> - Adhesión junto con la política de privacidad</h2>

            <p>
              El uso de este sitio web implica la adhesión a estas Condiciones de Uso y a la versión más actualizada de
              la
              Política de Privacidad de The Formatted Blog.
            </p>

            <h2><span class="bold">Sección 3</span> - Condiciones de acceso</h2>

            <p>
              En general, el acceso al sitio web de The Formatted Blog es gratuito y no requiere registro previo.
              Sin embargo, para hacer uso de algunas funcionalidades, el usuario puede necesitar registrarse, creando
              una
              cuenta de usuario con un nombre de usuario y una contraseña de acceso.
              Es responsabilidad del usuario proporcionar únicamente información correcta, auténtica, válida, completa y
              actualizada, así como no revelar su nombre de usuario y contraseña a terceros.
              Algunas partes de este sitio web ofrecen al usuario la opción de publicar comentarios en determinadas
              áreas. The Formatted Blog no consiente la publicación de contenidos de carácter discriminatorio, ofensivo
              o ilícito, o
              que infrinjan los derechos de autor o cualquier otro derecho de terceros.
              La publicación de cualquier contenido por parte del usuario de este sitio web, incluidos los mensajes y
              comentarios, implica una licencia no exclusiva, irrevocable e irreversible para su uso, reproducción y
              publicación por parte de The Formatted Blog en su sitio web, plataformas de internet y aplicaciones, o
              incluso
              en otras plataformas, sin ninguna restricción o limitación.
            </p>

            <h2><span class="bold">Sección 4</span> - Cookies</h2>

            <p>
              La información sobre el uso que usted hace de este sitio web puede recogerse a través de las cookies. Las
              cookies son piezas de información que se almacenan directamente en el equipo que está utilizando. Las
              cookies
              permiten recoger información como el tipo de navegador, el tiempo de permanencia en el sitio web, las
              páginas
              visitadas, las preferencias de idioma y otros datos de tráfico anónimos. Nosotros y nuestros proveedores
              de
              servicios utilizamos la información para la protección de la seguridad, para facilitar la navegación,
              mostrar la
              información de manera más eficiente y personalizar su experiencia al utilizar este sitio web, así como
              para el
              seguimiento en línea. También recopilamos información estadística sobre el uso del sitio web para mejorar
              continuamente nuestro diseño y funcionalidad, para entender cómo se utiliza el sitio web y para ayudarle a
              resolver problemas relevantes.
            </p>
            <p>
              Si no desea que se recoja su información a través de las cookies, existe un procedimiento sencillo en la
              mayoría
              de los navegadores que permite rechazar automáticamente las cookies, o le da la opción de aceptar o
              rechazar la
              transferencia de una cookie específica (o varias) de un sitio web concreto a su ordenador. Sin embargo,
              esto
              puede crear inconvenientes en su uso del sitio web.

              La configuración que elija puede afectar a su experiencia de navegación y al funcionamiento que requiere
              el uso
              de cookies. En este sentido, rechazamos cualquier responsabilidad por las consecuencias derivadas del
              funcionamiento limitado de este sitio web causado por la desactivación de las cookies en su dispositivo
              (incapacidad para establecer o leer una cookie).
            </p>

            <h2><span class="bold">Sección 5</span> - Propiedad intelectual</h2>

            <p>
              Todos los elementos de The Formatted Blog son propiedad intelectual de la misma o de sus licenciantes.
              Estos
              términos o el uso del sitio web no le otorgan ninguna licencia o derecho de uso de los derechos de
              propiedad
              intelectual de The Formatted Blog o de cualquier tercero.
            </p>

            <h2><span class="bold">Sección 6</span> - Enlaces a sitios web de terceros</h2>

            <p>
              Este sitio web puede contener, de vez en cuando, enlaces de hipertexto que le redirigirán a sitios web de
              nuestros socios, anunciantes, proveedores, etc. Si hace clic en uno de estos enlaces a cualquiera de estos
              sitios, recuerde que cada sitio tiene sus propias prácticas de privacidad y que nosotros no somos
              responsables
              de estas políticas. Por favor, consulte esas políticas antes de enviar cualquier dato personal a esos
              sitios.

              No somos responsables de las políticas y prácticas de recopilación, uso y divulgación (incluidas las
              prácticas
              de protección de datos) de otras organizaciones, como Facebook, Apple, Google, Microsoft, o cualquier otro
              desarrollador de software o proveedor de aplicaciones, tienda de medios sociales, sistema operativo,
              proveedor
              de servicios de internet o fabricante de dispositivos, incluidos los Datos Personales que usted divulgue a
              otras
              organizaciones a través de las aplicaciones, en relación con dichas aplicaciones, o publicados en nuestras
              redes
              sociales. Le recomendamos que se informe sobre la política de privacidad y las condiciones de uso de cada
              sitio
              web visitado o proveedor de servicios utilizado.
            </p>

            <h2><span class="bold">Sección 7</span> - Plazos y modificaciones</h2>

            <p>
              El funcionamiento de este sitio web es por tiempo indefinido.
              La totalidad del sitio web o cada una de sus secciones podrá ser cerrada, suspendida o interrumpida
              unilateralmente por The Formatted Blog, en cualquier momento y sin previo aviso.
            </p>

            <h2><span class="bold">Sección8</span> - Datos personales</h2>

            <p>
              Durante el uso de este sitio web, ciertos datos personales serán recogidos y procesados por The Formatted
              Blog
              y/o los Socios. Las normas relativas al tratamiento de los datos personales de The Formatted Blog están
              estipuladas en la Política de Privacidad.
            </p>


            <h2><span class="bold">Sección 9</span> - Contacto</h2>

            <p>Si tiene alguna pregunta sobre las condiciones de uso, por favor póngase en contacto con nosotros por
              correo
              electrónico <a href="mailto:theformattedblog@gmail.com">theformattedblog@gmail.com</a>
            </p>
          </div>
        </mat-tab>
        <mat-tab label="POLÍTICAS">
          <div class="politics animated fadeIn">
            <b class="start">Esta política de condiciones de uso es válida a partir de Mayo 2023.</b>
            <h1>POLÍTICA DE PRIVACIDAD<span> - The Formatted Blog</span></h1>

            <p>
              En nuestra plataforma de creación de contenido, entendemos el poder y la creatividad que los usuarios
              aportan al mundo digital. Sin embargo, también somos conscientes de los desafíos y peligros asociados con
              la creación de contenido en línea. Esta Política de Privacidad tiene como objetivo garantizar un entorno
              seguro y responsable para todos los usuarios al utilizar nuestro sitio web.

              Creemos en la importancia de promover la libertad de expresión y el intercambio de ideas, pero también
              reconocemos la necesidad de establecer límites y salvaguardias para proteger a nuestros usuarios y a la
              comunidad en general. Esta política establece las directrices y condiciones que deben seguirse al crear
              contenido, abordando los riesgos potenciales y los comportamientos inaceptables.
            </p>
            <p>
              Nuestra plataforma se esfuerza por fomentar la diversidad, el respeto mutuo y la convivencia armoniosa.
              Por lo tanto, es fundamental que todos los usuarios entiendan y acepten las responsabilidades que conlleva
              la creación de contenido en nuestra comunidad en línea.

              Esta política no solo protege a los usuarios, sino también a aquellos que puedan verse afectados por el
              contenido creado. Nos comprometemos a tomar medidas adecuadas para moderar y eliminar contenido que viole
              los términos aquí establecidos, así como para investigar y abordar cualquier denuncia o reporte de
              contenido inapropiado.
            </p>
            <p>
              Al utilizar nuestro sitio web, usted acepta cumplir con los términos y condiciones de esta Política de
              Privacidad y se compromete a actuar de manera responsable y respetuosa al crear contenido. Nos esforzamos
              por proporcionarle una experiencia segura y enriquecedora, donde pueda expresarse libremente sin
              comprometer la integridad y la seguridad de otros usuarios.

              Recuerde que la creación de contenido conlleva una gran responsabilidad y tiene el poder de influir en los
              demás. Le instamos a que utilice nuestro sitio web de manera ética y positiva, evitando cualquier
              contenido que pueda resultar perjudicial, inapropiado o ilegal.

              Estamos comprometidos con su privacidad y la protección de sus datos personales. Para obtener más
              información sobre cómo recopilamos, utilizamos y protegemos sus datos, consulte nuestra Política de
              Privacidad.
            </p>

            <h2><span class="bold">1.</span> Responsabilidad del Usuario</h2>

            <p>
              Al crear contenido en nuestro sitio web, usted asume la plena responsabilidad de sus acciones y se
              compromete
              a no participar en ninguna actividad que pueda ser ilegal, inapropiada, difamatoria, ofensiva,
              malintencionada
              o perjudicial para otros usuarios o terceros. Esto incluye, pero no se limita a:
            </p>
            <ul>
              <li>
                A) <b>Contenido inadecuado:</b> No se permite la creación de contenido que sea pornográfico, sexualmente
                explícito,
                violento, discriminatorio, racista, xenófobo, o que promueva el odio, la violencia o cualquier forma de
                abuso.
              </li>
              <li>
                B) <b>Contenido difamatorio:</b> No se permite la creación de contenido que difame, calumnie o perjudique
                la reputación de individuos, organizaciones o entidades.
              </li>
              <li>
                C) <b>Contenido ilegal:</b> No se permite la creación de contenido que viole leyes locales, nacionales o
                internacionales,
                incluyendo, pero no limitado a, derechos de autor, marcas registradas, patentes, secretos comerciales o
                derechos de privacidad.
              </li>
              <li>
                D) <b>Contenido fraudulento:</b> No se permite la creación de contenido que sea engañoso, fraudulento o que
                promueva
                actividades ilegales, como la piratería informática, el fraude financiero o la suplantación de
                identidad.
              </li>
              <li>
                E) <b>Contenido perjudicial:</b> No se permite la creación de contenido que contenga virus, malware u otro tipo
                de código
                malicioso que pueda dañar o comprometer la seguridad de nuestro sitio web, usuarios u otros sistemas.
              </li>
            </ul>

            <h2><span class="bold">2.</span> Moderación del Contenido</h2>

            <p>
              Nos reservamos el derecho de moderar y eliminar cualquier contenido que consideremos inapropiado, ilegal o
              que viole los
              términos de esta política de privacidad. Podemos llevar a cabo dicha moderación de manera automática o
              mediante revisión manual,
              y nos esforzaremos por tomar las medidas necesarias para garantizar la integridad y seguridad de nuestro
              sitio web.
            </p>

            <h2><span class="bold">3.</span> Protección de la Privacidad</h2>

            <p>
              Entendemos la importancia de proteger su privacidad y los datos personales que comparta en nuestro sitio
              web.
              Nos comprometemos a cumplir con todas las leyes y regulaciones aplicables en materia de protección de
              datos,
              y a utilizar sus datos personales únicamente con fines legítimos y en concordancia con nuestra Política de
              Privacidad.
            </p>

            <h2><span class="bold">4.</span> Denuncias y Reportes</h2>

            <p>
              Si encuentra contenido que considera inapropiado, ilegal o que viola los términos de esta política de
              privacidad,
              le animamos a que nos lo informe de inmediato. Tomaremos las medidas necesarias para investigar y abordar
              dichas denuncias de manera oportuna y adecuada. <a href="mailto:theformattedblog@gmail.com">theformattedblog@gmail.com</a>
            </p>

            <h2><span class="bold">5.</span> Cambios en la Política de Privacidad</h2>

            <p>
              Nos reservamos el derecho de modificar o actualizar esta política de privacidad en cualquier momento y sin
              previo aviso. Entendemos que la protección de su privacidad es fundamental, por lo que nos comprometemos a
              informarle sobre cualquier cambio significativo en nuestra política de privacidad. Cuando realicemos modificaciones en esta política, 
              actualizaremos la fecha de "Última Actualización" al comienzo del documento. Le recomendamos que revise periódicamente esta política para estar al tanto de
              cualquier cambio. Su uso continuado de nuestro sitio web después de realizar modificaciones constituirá su
              aceptación de dichos cambios.
            </p>
            <p>
              En caso de que realicemos cambios sustanciales que afecten sus derechos y la forma en que utilizamos su
              información personal, le proporcionaremos un aviso destacado en nuestro sitio web o le enviaremos una
              notificación por correo electrónico, si tenemos su dirección de correo electrónico en nuestros registros.
            </p>
            <p>
              Le animamos a que revise regularmente esta política de privacidad y a que esté atento a cualquier
              comunicación nuestra en relación con cambios en la misma. Si continúa utilizando nuestro sitio web después
              de que se hayan realizado cambios, se considerará que ha aceptado los términos revisados de la política de
              privacidad.

              Si no está de acuerdo con los términos de esta política de privacidad o con cualquier modificación futura,
              le recomendamos que deje de utilizar nuestro sitio web y que elimine su cuenta, si corresponde.

              Su confianza es importante para nosotros, y nos comprometemos a proteger su privacidad y mantenerlo
              informado sobre cómo se utilizan sus datos personales. Si tiene alguna pregunta o inquietud acerca de
              nuestra política de privacidad, no dude en ponerse en contacto con nosotros.
            </p>
            <p>
              Gracias por su confianza y por utilizar nuestro sitio web de manera responsable.
              Atentamente,
            </p>
            <p class="signature">The Formatted Blog</p>
          </div>
        </mat-tab>
      </mat-tab-group>
    </app-section>
  </section>
</div>