@import 'mixins/mixins.scss';

section, .wrapper {
  @include container();
  @include row();
}

mat-tab-group {
  margin-top: -18px;
}

.start {
  display: block;
  padding-top: 2rem;
  font-style: italic;
}

h1 {
  font-size: 20px;
  margin: 2rem 0;
}

h2 {
  font-size: 18px;
  margin: 2.5rem 0 1.8rem 0;
}

p {
  margin: 1rem 0;
  text-align: justify;

  @media(max-width: 992px) {
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}

.bold {
  transition: color 666ms ease-in-out;
  color: var(--contrast-color);
}

ul {
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 1.5rem;

  & li {
    margin-bottom: 1rem;
  }
}

.signature {
  font-size: 18px;
  margin-top: 3rem;
  font-style: italic;
  color: var(--contrast-color);
  transition: color 666ms ease-in-out;
  margin-bottom: 0;
}

@media(max-width: 550px) {
  p, ul {
    font-size: 13px;
  }

  .start {
    font-size: 11px;
  }

  h1 {
    font-size: 18px;

    & span {
      display: none;
    }
  }

  h2 {
    font-size: 17px;
    margin-bottom: 1.2rem;
  }

  .signature {
    font-size: 15px;
    margin-top: 2rem;
  }
}

hr {
  border: 1px solid var(--border-color);
  margin: 4rem 0 4rem 0;
}