<owl-carousel-o [options]="customOptions">
  <!-- ADD -->
  <ng-template carouselSlide
               *ngIf="profile">
    <div class="item add">
      <figure>
        <img src="assets/images/02-img.jpg" alt="Carrousel Image"/>
      </figure>
      <div class="inner">
        <div class="info">
          <i class="fas fa-plus-circle"></i>
          <p>
            <strong>¿Te sientes inspirado/a?</strong>
            <br><span>Crea algo increíble...</span>
          </p>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- CARROUSEL -->
  <ng-template carouselSlide *ngFor="let i of items">
    <div class="item">
      <figure>
        <img [src]="'assets/images/' + i" alt="Carrousel Image"/>
      </figure>
      <div class="overlay">
        <div class="info">
          <div class="inner">
            <p>
              <span>LifeStyle</span>
              <span class="slash">Sep, 17 2019</span>
            </p>
            <h3>What do you think of Lifestyle</h3>
            <p>
              <span>
                <i class="fas fa-user"></i>
                Jhone Smithon
              </span>
              <span class="slash">
                <i class="fas fa-comment"></i>
                No Comments Yet
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
